

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					= link_to 'Subscription Admin', subscription_admin_index_path
				%li
					%strong= @subscription.code
			%h2
				%strong= @subscription.code
				%small= @subscription.created_at.to_s( :short )

		.col-xs-2


	.row
		.col-xs-8

			%h4 Orders
			.well.white-well
				%table.table.table-light.table-bordered{ style: 'margin:0;' }
					%thead
						%th
							Code
						%th
							Total
						%th
							Created
						%th Status
					%tbody
						- if ( order = @subscription.order ).present?
							%tr
								%td
									= link_to order.code, edit_order_admin_path( order.id )
								%td
									= number_to_currency ( order.total || 0 ) / 100.to_f
								%td
									= order.created_at
								%td
									.badge{ class: order.status }
										= order.status

									- if order.fulfilled_at.present?
										.badge{ class: 'fulfilled', title: order.fulfilled_at.to_s( :short ) }
											%span.fa.fa-circle
											fulfilled
									- else
										.badge{ class: 'unfulfilled' }
											%span.fa.fa-circle-o
											unfulfilled
						- @orders.each do |order|
							%tr
								%td
									= link_to order.code, edit_order_admin_path( order.id )
								%td
									= number_to_currency ( order.total || 0 ) / 100.to_f
								%td
									= order.created_at
								%td
									.badge{ class: order.status }
										= order.status

									- if order.fulfilled_at.present?
										.badge{ class: 'fulfilled', title: order.fulfilled_at.to_s( :short ) }
											%span.fa.fa-circle
											fulfilled
									- else
										.badge{ class: 'unfulfilled' }
											%span.fa.fa-circle-o
											unfulfilled
		.col-xs-4
			.well.white-well

				= form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::Subscription.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :next_charged_at, 'Next Charge'
						= f.text_field :next_charged_at, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

			.pull-right
				%a{ href: edit_customer_admin_path( @subscription.user ) }
					Edit
			%h5
				Customer
			.well.white-well
				%a{ href: edit_customer_admin_path( @subscription.user ) }= @subscription.user.email


			.pull-right
				%a{ href: '#', data: { toggle: :modal, target: '#billing_address_modal' } } Edit
			%h5
				Billing Address
			.well.white-well
				= raw @subscription.billing_address.to_html


			.pull-right
				%a{ href: '#', data: { toggle: :modal, target: '#shipping_address_modal' } } Edit
			%h5
				Shipping Address
			.well.white-well
				= raw @subscription.shipping_address.to_html
