

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: subscription_admin_index_path }
						%i.fa.fa-angle-left
						Subscriptions
			%h2
				%strong= @subscription.code
				%small= @subscription.created_at.to_s( :short )
			Plan:
			%a{ href: swell_ecom.edit_subscription_plan_admin_path( @subscription.subscription_plan ) }= @subscription.subscription_plan.title
		.col-xs-2


	.row
		.col-xs-8

			.well.white-well
				%h4 Orders
				%table.table.table-light.table-bordered{ style: 'margin:0;' }
					%thead
						%th
							Code
						%th
							Created
						%th Items
						%th Status
						%th
							Total
					%tbody
						- if @orders.blank? && @subscription.order.blank?
							%tr
								%td{ colspan: 5 }
									\- No Orders Found -
						- @orders.each do |order|
							= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: false, customer: false }
						- if ( order = @subscription.order ).present? && not( @orders.include?( order ) )
							= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: false, customer: false }


			.well.white-well
				%h4 Transactions
				%table.table.table-light.table-bordered{ style: 'margin: 0;' }
					%thead
						%tr
							%th{ style: 'width: 10em' } Date
							%th{ style: 'width: 10em' } Type
							%th{ style: 'width: 10em' } Status
							%th{ style: 'width: 10em' } Gateway
							%th Reference
							%th.text-right{ style: 'width: 10em' } Amount
							%th{ style: 'width: 4em' } Currency
					%tbody
						- if @transactions.blank?
							%tr
								%td{ colspan: 7 }
									\- No Transactions Found -


						- @transactions.each do |transaction|
							%tr
								%td
									=current_user.to_local_tz(transaction.created_at).to_s( :short )
								%td
									= transaction.transaction_type
								%td
									= transaction.status
								%td
									= transaction.provider
								%td
									= transaction.reference_code
								%td.text-right
									= number_to_currency (transaction.amount.to_f / 100)
								%td
									= transaction.currency
							- if transaction.message.present?
								%tr
									%td{ colspan: 6 }
										= transaction.message
			- if defined?(Bunyan)
				.well.white-well
					%h4 Timeline

					- if ( events = Bunyan::Event.where( target_obj: @subscription ).or( Bunyan::Event.where( target_obj: @subscription.orders ) ).or( Bunyan::Event.where( user_id: @subscription.user_id, created_at: Time.at(0)..(@subscription.created_at + 10.minutes) ) ).where( category: [ 'account', 'ecom' ] ) ).present?
						.row
							.col-sm-12
								%table.table
									- events.order( created_at: :desc ).limit( 20 ).each do |event|
										%tr
											%td
												= event.to_s
											%td
												= time_ago_in_words( event.created_at )
												ago
					- else
					.row
						.col-xs-12
							No Timeline Entries Found


		.col-xs-4
			.well.white-well

				= form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::Subscription.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :next_charged_at, 'Next Charge'
						= f.text_field :next_charged_at, value: current_user.to_local_tz( @subscription.next_charged_at ), class: 'datetimepicker form-control'
					.form-group
						= f.label :billing_interval_value, 'Subscription Interval'
						.row{ style: 'margin-top: 0' }
							.col-md-6
								= f.number_field :billing_interval_value, class: 'form-control', min: 1
							.col-md-6
								= f.select :billing_interval_unit, ['months', 'weeks', 'days'], {}, class: 'form-control', style: ''

					.row{ style: 'margin-top: 0' }
						.col-md-6
							.form-group
								= f.label :quantity, 'Quantity'
								= f.number_field :quantity, class: 'form-control', min: 1
						.col-md-6
							.form-group
								= f.label :price, 'Price'
								.input-group
									%span.input-group-addon $
									= f.number_field :price_as_money, class: 'form-control text-right', min: 0.00, step: 0.01
						- if @subscription.subscription_plan.trial?
							.col-md-6.col-md-offset-6
								.form-group
									= f.label :trial_price, 'Trial Price'

									.input-group
										%span.input-group-addon $
										= f.number_field :trial_price_as_money, class: 'form-control text-right', min: 0.00, step: 0.01


					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

			.well.white-well
				.pull-right
					%a{ href: swell_media.edit_user_admin_path( @subscription.user ) }
						Edit
				%h5
					Customer

				%div
					%a{ href: swell_media.edit_user_admin_path( @subscription.user ) }= @subscription.user.try(:full_name)
				%a{ href: swell_media.edit_user_admin_path( @subscription.user ) }= @subscription.user.try(:email)


			.well.white-well
				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#change_payment_profile' } } Edit
				%h5
					Payment Info
				- if @subscription.properties['credit_card_ending_in']
					%div XXXX #{@subscription.properties['credit_card_ending_in']} (#{@subscription.properties['credit_card_brand']})
				- if @subscription.payment_profile_expires_at
					%div=@subscription.payment_profile_expires_at.strftime('%m/%Y')
				%hr


				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#update_discount_modal' } } Edit
				%h5
					Discount
				%div
					- if @subscription.discount
						= @subscription.discount.code || @subscription.discount.title
					- else
						None


				%hr
				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#billing_address_modal' } } Edit
				%h5
					Billing Address
				= raw @subscription.billing_address.to_html


			.well.white-well
				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#shipping_address_modal' } } Edit
				%h5
					Shipping Address
				= raw @subscription.shipping_address.to_html

				%hr

				.pull-right
					%a{ href: swell_ecom.edit_shipping_carrier_service_subscription_admin_path( @subscription ) } Edit
				%h5 Shipping Method
				- if @subscription.shipping_carrier_service.present?
					%div= @subscription.shipping_carrier_service.shipping_option.try(:name) || @subscription.shipping_carrier_service.name
				- else
					%div Default

= render 'swell_ecom/subscription_admin/edit_address_modal', args: { title: 'Billing Address', attribute: 'billing_address' }, countries: get_billing_countries, states: get_billing_states( @subscription.billing_address.geo_country.id )
= render 'swell_ecom/subscription_admin/edit_address_modal', args: { title: 'Shipping Address', attribute: 'shipping_address' }, countries: get_shipping_countries, states: get_shipping_states( @subscription.shipping_address.geo_country.id )
= render 'swell_ecom/subscription_admin/change_payment_profile_modal', args: {}
= render 'swell_ecom/subscription_admin/update_discount_modal', args: {}
