

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: subscription_admin_index_path }
						%i.fa.fa-angle-left
						Subscriptions
			%h2
				%strong= @subscription.code
				%small= @subscription.created_at.to_s( :short )

		.col-xs-2


	.row
		.col-xs-8

			.well.white-well
				%h4 Orders
				%table.table.table-light.table-bordered{ style: 'margin:0;' }
					%thead
						%th
							Code
						%th
							Created
						%th Order Status
						%th Fulfillment Status
						%th
							Total
					%tbody
						- if @orders.blank? && @subscription.order.blank?
							%tr
								%td{ colspan: 5 }
									\- No Orders Found -
						- @orders.each do |order|
							= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: false, customer: false }
						- if ( order = @subscription.order ).present?
							= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: false, customer: false }
		.col-xs-4
			.well.white-well

				= form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::Subscription.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :next_charged_at, 'Next Charge'
						= f.text_field :next_charged_at, value: current_user.to_local_tz( @subscription.next_charged_at ), class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

			.well.white-well
				.pull-right
					%a{ href: edit_customer_admin_path( @subscription.user ) }
						Edit
				%h5
					Customer

				%div
					%a{ href: edit_customer_admin_path( @subscription.user ) }= @subscription.user.full_name
				%a{ href: edit_customer_admin_path( @subscription.user ) }= @subscription.user.email


			.well.white-well
				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#change_payment_profile' } } Edit
				%h5
					Payment Info
				- if @subscription.properties['credit_card_ending_in']
					%div XXXX #{@subscription.properties['credit_card_ending_in']} (#{@subscription.properties['credit_card_brand']})
				%div=@subscription.payment_profile_expires_at.strftime('%m/%Y')
				%hr
				%h5
					Billing Address
				= raw @subscription.billing_address.to_html


			.well.white-well
				.pull-right
					%a{ href: '#', data: { toggle: :modal, target: '#shipping_address_modal' } } Edit
				%h5
					Shipping Address
				= raw @subscription.shipping_address.to_html

= render 'swell_ecom/subscription_admin/edit_address_modal', args: { title: 'Shipping Address', attribute: 'shipping_address' }
= render 'swell_ecom/subscription_admin/change_payment_profile_modal', args: {}
