

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					= link_to 'Subscription Admin', subscription_admin_index_path
				%li
					%strong
						Edit Subscription:
						= @subscription.code
		.col-xs-2


	= form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
		.row
			.col-xs-8
				.row
					.col-xs-12
						%h2
							Subscription:
							= @subscription.code
						Placed:
						= @subscription.created_at.to_s( :short )
						
						
						= f.fields_for :user do |uf|
							.form-group
								= uf.label :email
								= uf.text_field :email, class: 'form-control'

						%h2 Billing Address
						= f.fields_for :billing_address do |baf|
							.row
								.col-sm-6
									.form-group
										= baf.label :first_name
										= baf.text_field :first_name, class: 'form-control'
								.col-sm-6
									.form-group
										= baf.label :last_name
										= baf.text_field :last_name, class: 'form-control'
							.form-group
								= baf.label :street
								= baf.text_field :street, class: 'form-control'
							.form-group
								= baf.label :street2
								= baf.text_field :street2, class: 'form-control'
							.row
								.col-sm-6
									.form-group
										= baf.label :city
										= baf.text_field :city, class: 'form-control'
								.col-sm-3
									.form-group
										= baf.label :geo_state_id, 'State'
										= baf.collection_select :geo_state_id, SwellEcom::GeoState.where( geo_country_id: 1 ), :id, :name, {}, { class: "form-control", required: true }
								.col-sm-3
									.form-group
										= baf.label :zip
										= baf.text_field :zip, class: 'form-control'

						%h2 Shipping Address
						= f.fields_for :shipping_address do |saf|
							.form-group
								= saf.label :first_name
								= saf.text_field :first_name, class: 'form-control'
							.form-group
								= saf.label :last_name
								= saf.text_field :last_name, class: 'form-control'
							.form-group
								= saf.label :street
								= saf.text_field :street, class: 'form-control'
							.form-group
								= saf.label :street2
								= saf.text_field :street2, class: 'form-control'
							.row
								.col-sm-6
									.form-group
										= saf.label :city
										= saf.text_field :city, class: 'form-control'
								.col-sm-3
									.form-group
										= saf.label :geo_state_id, 'State'
										= saf.collection_select :geo_state_id, SwellEcom::GeoState.where( geo_country_id: 1 ), :id, :name, {}, { class: "form-control", required: true }
								.col-sm-3
									.form-group
										= saf.label :zip
										= saf.text_field :zip, class: 'form-control'
	
			.col-xs-4
				.well

					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::Subscription.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :next_charged_at, 'Next Charge'
						= f.text_field :next_charged_at, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
	.row
		.col-xs-8
			%h4 Transactions
			%table.table.table-light.table-bordered
				%thead
					%tr
						%th{ style: 'width: 10em' } Type
						%th{ style: 'width: 10em' } Status
						%th{ style: 'width: 10em' } Gateway
						%th Reference
						%th.text-right{ style: 'width: 10em' } Amount
						%th{ style: 'width: 4em' } Currency
				%tbody
					- @transactions.each do |transaction|
						%tr
							%td
								= transaction.transaction_type
							%td
								= transaction.status
							%td
								= transaction.provider
							%td
								= transaction.try(:reference)
							%td.text-right
								= number_to_currency (transaction.amount.to_f / 100)
							%td
								= transaction.currency
