%h2 Select New Shipping Preference
= form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
  = hidden_field_tag :redirect_to, 'edit'
  - @shipping_rates.each do |rate|
    %div
      %label
        = f.radio_button :shipping_carrier_service_id, rate[:id]
        = rate[:label]
        (#{number_to_currency rate[:price] / 100.0})
  = f.submit 'Save', class: 'btn btn-primary'
