


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					%strong
						Subscription Admin
						= "(#{pluralize @subscriptions.total_count, 'Subscription'})"
	.row
		.col-xs-6
			= raw paginate @subscriptions
		.col-xs-6
			= form_tag subscription_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellEcom::Subscription.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', subscription_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
						Code
					%th
						Customer
						%a{ href: subscription_admin_index_path( sort_by: 'email', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( sort_by: 'email', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Total
						%a{ href: subscription_admin_index_path( sort_by: 'total', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( sort_by: 'total', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Created
						%a{ href: subscription_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th
				%tbody
					- @subscriptions.each do |subscription|
						%tr
							%td
								= link_to subscription.code, edit_subscription_admin_path( subscription.id )
							%td
								= link_to subscription.email, edit_subscription_admin_path( subscription.id )
							%td
								= number_to_currency ( subscription.amount || 0 ) / 100.to_f
							%td
								= subscription.created_at
							%td
								.badge{ class: subscription.status }
									= subscription.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_subscription_admin_path( subscription.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: subscription_admin_path( subscription ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!
