

.modal.fade#update_shipping_address_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Enter New Shipping Information
			= form_for @subscription, url: swell_ecom.your_subscription_path( @subscription.code ) do |subscription_form|
				.modal-body
					= subscription_form.fields_for :shipping_address do |f|

						.form-group
							%label
								%span First Name
							= f.text_field :first_name, class: 'form-control', required: true
							.help-block.with-errors

						.form-group
							%label
								%span Last Name
							= f.text_field :last_name, class: 'form-control', required: true
							.help-block.with-errors

						%span.geo-address-country-state-group{ data: { address_attribute: :shipping_address } }
							.form-group
								%label
									%span Country
								= render 'swell_ecom/geo_address/country_input', f: f, countries: get_shipping_countries, args: {}
								.help-block.with-errors
							.form-group
								%label
									%span State
								= render 'swell_ecom/geo_address/state_input', f: f, states: get_shipping_states( @subscription.shipping_address.geo_country_id ), args: {}
								.help-block.with-errors
						.form-group
							%label
								%span Address Line 1
							= f.text_field :street, class: 'form-control', required: true
							.help-block.with-errors

						.form-group
							%label
								%span Address Line 2
								%small (optional)
							= f.text_field :street2, class: 'form-control'
							.help-block.with-errors

						.form-group
							%label
								%span City
							= f.text_field :city, class: 'form-control', required: true
							.help-block.with-errors

						.form-group
							%label
								%span Zip
							= f.text_field :zip, class: 'form-control', "data-stripe" => "address_zip", required: true
							.help-block.with-errors

						.form-group
							%label
								%span Phone Number
							= f.telephone_field :phone, class: 'form-control telephone_formatted', required: true
							.help-block.with-errors

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= subscription_form.submit 'Save', class: 'btn btn-primary'
