.container
	.row
		.col-xs-12.col-md-10
			%a{ href: swell_ecom.your_account_index_path() } My Account
			>
			%a{ href: swell_ecom.your_subscriptions_path() } My Subscriptions
			>
			%a{ href: swell_ecom.your_subscription_path(@subscription) } Subscription Details
			> Edit Shipping Preferences
			%h2 Edit Shipping Preferences

      = form_for @subscription, url: subscription_admin_path( @subscription ) do |f|
        - @shipping_rates.each do |rate|
          %div
            %label
              = f.radio_button :shipping_carrier_service_id, rate[:id]
              = rate[:label]
              (#{number_to_currency rate[:price] / 100.0})
        = f.submit 'Save', class: 'btn btn-primary'
