
= form_for @order, url: order_admin_path(@order), as: :order, html: { class: 'form' } do |f|
	.container-fluid
		.row
			.col-xs-12
				%ul.breadcrumb
					%li
						%a{ href: order_admin_index_path }
							%i.fa.fa-angle-left
							Orders

				.pull-right
					%a.btn.btn-primary{ href: checkout_admin_path( @order, order: { status: 'active' } ), data: { method: 'PUT' } }
						%i.fa.fa-send
						Process

					= f.submit "Save", class: 'btn btn-primary'

				%h2
					%strong= @order.code
					%small=current_user.to_local_tz(@order.created_at).to_s( :short )

			.col-xs-2


		.row
			.col-xs-12.col-sm-8
				.well.white-well

					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#edit_status_modal' } } Edit
					%h4
						Order Details
						%small

							.badge.order_status{ class: @order.status }
								- if @order.pre_order? || @order.draft?
									%i.fa.fa-circle-o
								=@order.status.gsub(/_/,' ')
							.badge.order_payment_status{ class: @order.payment_status }
								- if @order.invoice? || @order.payment_method_captured?
									%i.fa.fa-circle-o
								=@order.payment_status.gsub(/_/,' ')

					#order_items_table
						= render 'bazaar/order_admin/order_items_table', f: f, order: @order, args: {}
				.well.white-well
					%h4
						Customer Notes
					= f.text_area :customer_notes, class: 'form-control'

				.well.white-well
					%h4
						Support Notes
					= f.text_area :support_notes, class: 'form-control'

			.col-xs-12.col-sm-4
				- if @order.user.present?
					.well.white-well
						.pull-right
							%a{ href: swell_id.edit_user_admin_path( @order.user ) }
								Edit
						%h5
							Customer
						%div
							%a{ href: swell_id.edit_user_admin_path( @order.user ) }= @order.user.full_name
						%a{ href: swell_id.edit_user_admin_path( @order.user ) }= @order.user.email

				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#billing_address_modal' } } Edit
					%h5
						Billing Address
					= raw @order.billing_address.to_html


				.well.white-well
					- if authorized?(@order, controller: Bazaar::OrderAdminController, action: :update ) && not( @order.fulfilled? || @order.delivered? )
						.pull-right
							%a{ href: '#', data: { toggle: :modal, target: '#shipping_address_modal' } } Edit
					%h5
						Shipping Address
					= raw @order.shipping_address.to_html


= render 'bazaar/order_item_admin/new_modal', order: @order, arg: {}
= render 'bazaar/order_admin/edit_status_modal'
= render 'bazaar/order_admin/edit_address_modal', args: { title: 'Shipping Address', attribute: 'shipping_address' }, countries: get_shipping_countries, states: get_shipping_states( @order.shipping_address.geo_country_id )
= render 'bazaar/order_admin/edit_address_modal', args: { title: 'Billing Address', attribute: 'billing_address' }, countries: get_billing_countries, states: get_shipping_states( @order.billing_address.geo_country_id )
