= form_for @order, url: bazaar.order_admin_index_path(), as: :order, html: { class: 'form' } do |f|

	%h1 New Order

	.well.white-well
		.form-group
			%label Email
			= f.text_field :email, class: 'form-control'
			.help-block.with-errors

	.well.white-well
		%h5 Items

		.order-items
			= f.fields_for :order_offers, Bazaar::OrderOffer.new() do |order_offer_form|
				.row.order-item
					.col-xs-6.col-md-8
						= order_offer_form.collection_select :offer_id, Bazaar::Offer.active, :id, :title, {}, class: 'form-control select-2-basic'
					.col-xs-6.col-md-4
						= order_offer_form.number_field :quantity, class: 'form-control', value: 1, min: 1, step: 1
				.row
					.col-xs-12.text-right
						%button.btn.btn-default{ data: { clone_and_append_has_many: '.order-items .order-item:last' } } Add Item

	.well.white-well
		.shipping-address-section
			= f.fields_for :shipping_user_address do |shipping_user_address_form|
				%h5 Shipping Information
				= render 'bazaar_admin/checkout/geo_address', f: shipping_user_address_form, address_attribute: :shipping_user_address, countries: get_shipping_countries, states: get_billing_states(	@order.shipping_user_address.geo_country_id	), args: {}

				.form-group
					%label
						= check_box_tag 'order[same_as_shipping]', 1, true, class: 'same_as_shipping', style: 'width:1em;'
						Billing address is the same

	.billing-address-section.hide
		.well.white-well
			= f.fields_for :billing_user_address do |billing_user_address_form|
				%h5 Billing Information
				= render 'bazaar_admin/checkout/geo_address', f: billing_user_address_form, address_attribute: :billing_user_address, countries: get_billing_countries, states: get_billing_states(	@order.billing_user_address.geo_country_id	), args: {}


	.row
		.col-xs-12.text-right
			= f.submit "Next", class: 'btn btn-primary'
