
Thanks for your order!
Order Number: #{@order.code}

- @order.order_offers.prod.each do |order_offer|
	#{order_offer.quantity} x #{order_offer.title}   #{number_to_currency order_offer.subtotal_as_money}

Total: #{number_to_currency @order.total_as_money}
