
%h1.text-center
	Thanks for your order!
.text-center
	Order Number: #{@order.code}

%br

%table.table.table-light.table-bordered
	%thead
		%tr
			%th{ style: 'text-align: left;' } Product
			%th{ style: 'width: 100px;text-align: right;' } Quantity
			%th{ style: 'width: 100px;text-align: right;' } Price
	%tbody
		- @order.order_offers.prod.each do |order_offer|
			%tr
				%td{ style: 'padding: 8px' }
					%strong
						= order_offer.title
				%td{ style: 'padding: 8px;text-align: right;' }
					= order_offer.quantity
				%td{ style: 'padding: 8px;text-align: right;' }
					= number_to_currency order_offer.subtotal_as_money

%br
- unless @order.discount == 0
	.text-right
		Discount: #{number_to_currency @order.discount_as_money}
.text-right
	Shipping: #{number_to_currency @order.shipping_as_money}
.text-right
	Tax: #{number_to_currency @order.tax_as_money}
%h3
	Total:
	= number_to_currency @order.total_as_money
