
.container-fluid
	.row
		.col-xs-10
			%h2 Customers
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @users
		.col-xs-6
			= form_tag customer_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', customer_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12

			%table.table.table-light.table-bordered
				%thead
					%th
						Name
						%a{ href: customer_admin_index_path( status: params[:status], q: params[:q], sort_by: 'name', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: customer_admin_index_path( status: params[:status], q: params[:q], sort_by: 'name', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 20em' } Location
					%th.text-right{ style: 'width: 8em' } Orders
					%th.text-right{ style: 'width: 8em' } Active Subs
					%th{ style: 'width: 10em' }
						Joined
						%a{ href: customer_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: customer_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 6em' }
				%tbody
					- if @users.blank?
						%tr
							%td{ colspan: 6 }
								\- No Customers Found -
					- @users.each do |user|
						%tr
							%td
								= link_to user.to_s, edit_customer_admin_path( user.id )
							%td
								- if @geo_addresses[user.id].present?
									#{@geo_addresses[user.id].state_name}, #{@geo_addresses[user.id].geo_country.name}
								- else
									N/A
							%td.text-right
								= @order_counts[user.id] || 'N/A'

							%td.text-right
								- if @subscription_counts[user.id]
									= @active_subscription_counts[user.id] || '0'
									\/
									= @subscription_counts[user.id] || '0'
								- else
									N/A

							%td
								= current_user.to_local_tz(user.created_at).to_s( :short )

							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_customer_admin_path( user.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: swell_media.user_admin_path( user ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!
