

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: @redirect_to }
						%i.fa.fa-angle-left
						Back
			%h2
				%strong
					= @warehouse_sku.warehouse.name
					\-
					= @warehouse_sku.sku.to_s
				%small= current_user.to_local_tz(@warehouse_sku.created_at).to_s( :short )

		.col-xs-2


	= form_for @warehouse_sku, url: bazaar_admin.warehouse_sku_admin_path( @warehouse_sku ) do |f|
		= hidden_field_tag :redirect_to, @redirect_to

		.form-group
			= f.label :quantity
			= f.number_field :quantity, class: 'form-control', min: 0, step: 1
		.form-group
			= f.label :priority
			= f.number_field :priority, class: 'form-control', step: 1
		.form-group
			= f.label :warehouse_code, 'Warehouse Code'
			= f.text_field :warehouse_code, class: 'form-control'
		.form-group
			= f.label :status
			= f.collection_select :status, BazaarCore::WarehouseSku.statuses, :first, :first, {}, class: 'form-control'


		= f.submit 'Update', class: 'btn btn-primary'
