#new_variant.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Product Variant
			= form_tag swell_ecom.product_variants_path do
				= hidden_field_tag :product_id, product.id
				.modal-body
					.form-group
						= label_tag :option_name
						= text_field_tag :option_name, 'size', class: 'form-control'
					.form-group
						= label_tag :option_value, "Option Value(s)"
						= text_field_tag :option_value, '', class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= submit_tag 'Create', class: 'btn btn-primary'