.modal.fade#new_user_subscription_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Subscription for #{user.full_name}
			= form_for Bazaar::Subscription.new( attributes.merge( shipping_address: ( attributes[:shipping_address] || UserAddress.new_with_geo_address ), billing_address: ( attributes[:billing_address] || UserAddress.new_with_geo_address ) ) ), url: bazaar.subscription_admin_index_path(), html: {} do |f|
				= hidden_field_tag :user_id, user.id
				.modal-body
					= f.hidden_field :price, value: (attributes[:price] || 0)
					.row
						.col-xs-4.col-md-3
							.form-group
								= f.label :quantity
								= f.number_field :quantity, value: 1, min: 1, step: 1, required: true, class: 'form-control'
						.col-xs-12.col-md-9
							.form-group
								= f.label :offer_id, 'Offer'
								= f.collection_select :offer_id, Bazaar::Offer.recurring.active, :id, :title, {}, class: 'form-control'

					= f.fields_for :shipping_address do |shipping_address_form|

						= render 'bazaar/geo_address/form', f: shipping_address_form, countries: get_shipping_countries, states: get_shipping_states( nil ), id: "new_user_subscription_modal", address_attribute: :shipping_address

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
