


.container-fluid
	.row
		.col-xs-10
			%h2 Subscriptions
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @subscriptions
		.col-xs-6
			= form_tag subscription_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( Bazaar::Subscription.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', subscription_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th{ style: 'width: 8em' }
						Code
					%th
						Customer
					%th{ style: 'width: 15em' }
						Plan
					%th{ style: 'width: 8em' }
						Created
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 10em' }
						Next Charge
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'next_charged_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'next_charged_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 8em' }
						Expires
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'payment_profile_expires_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'payment_profile_expires_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 6em' } Status

					%th.text-right{ style: 'width: 6.5em' }
						Total
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'total', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: subscription_admin_index_path( status: params[:status], q: params[:q], sort_by: 'total', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 6em' }
				%tbody
					- if @subscriptions.blank?
						%tr
							%td{ colspan: 9 }
								\- No Subscriptions Found -
					- @subscriptions.each do |subscription|
						%tr
							%td
								= link_to subscription.code, edit_subscription_admin_path( subscription.id )
							%td
								- if subscription.user.try(:full_name).try(:strip).present?
									= subscription.user.try(:full_name)
								- else
									= (subscription.user.try(:email) || 'N/A')
							%td
								= subscription.subscription_plan.title.truncate(40)
							%td
								= current_user.to_local_tz(subscription.created_at).to_s(:short)
							%td
								= current_user.to_local_tz(subscription.next_charged_at).to_s(:short)
							%td
								- if subscription.payment_profile_expires_at.present?
									= subscription.payment_profile_expires_at.strftime('%m/%Y')
								- else
									N/A
							%td
								.badge{ class: subscription.status }
									= subscription.status
							%td.text-right
								= number_to_currency ( subscription.amount || 0 ) / 100.to_f
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_subscription_admin_path( subscription.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: subscription_admin_path( subscription ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!
