

.container-fluid
  .row
    .col-xs-12
      %ul.breadcrumb
        %li
          %a{ href: subscription_admin_index_path }
            %i.fa.fa-angle-left
            Subscriptions
      %h2
        New Subscription for #{@user.full_name}


  .row
    .col-xs-12.col-md-6.col-md-offset-1
      = form_for @subscription, url: bazaar.subscription_admin_index_path(), html: {} do |f|
        = hidden_field_tag :user_id, @user.id
        = f.hidden_field :price, value: 0
        .row
          .col-xs-4.col-md-3
            .form-group
              = f.label :quantity
              = f.number_field :quantity, value: 1, min: 1, step: 1, required: true, class: 'form-control'
          .col-xs-12.col-md-9
            .form-group
              = f.label :offer_id, 'Offer'
              = f.collection_select :offer_id, Bazaar::Offer.recurring.active.or(Bazaar::Offer.where( id: @subscription.offer_id )), :id, :title, {}, class: 'form-control select-2-basic'

        = f.fields_for :shipping_address do |shipping_address_form|

          = render 'bazaar/geo_address/form', f: shipping_address_form, countries: get_shipping_countries, states: get_shipping_states( nil ), id: "new_user_subscription_modal", address_attribute: :shipping_address

        = f.submit 'Create', class: 'btn btn-primary'
