Someone Placed a new order!

Order Number: #{ @order.code }
Email: #{ @order.email }

Ship To:
#{ @order.shipping_user_address.full_name }
#{ @order.shipping_user_address.street }
- if @order.shipping_user_address.street2.present?
	#{ @order.shipping_user_address.street2 }

#{ @order.shipping_user_address.city }, #{ @order.shipping_user_address.state } #{ @order.shipping_user_address.zip }

Bill To:
#{ @order.billing_user_address.full_name }
#{ @order.billing_user_address.street }
<% if @order.billing_user_address.street2.present? }
	#{ @order.billing_user_address.street2 }
<% end }
#{ @order.billing_user_address.city }, #{ @order.billing_user_address.state } #{ @order.billing_user_address.zip }

- @order.order_offers.each do |order_offer|
	= "- #{ order_offer.quantity } x #{ order_offer.title }  #{ number_to_currency order_offer.subtotal.to_f / 100 }"


Total: #{ number_to_currency @order.total.to_f / 100 }
