.container
	.row
		.col-xs-12.col-md-10
			%a{ href: bazaar.your_account_index_path() } My Account
			>
			%a{ href: bazaar.your_subscriptions_path() } My Subscriptions
			> Subscription Details
			%h2 Subscription Details
			%p
				- if @subscription.active?
					.pull-right
						%a.btn.btn-danger{ href: bazaar.your_subscription_path( @subscription.code ), style: 'color: #f00;' , data: { method: :delete, confirm: 'Are you sure?' } }
							Cancel Subscription
						%a.btn.btn-default{ href: bazaar.your_subscription_path( @subscription.code, subscription: { status: 'on_hold' } ) , data: { method: :put, confirm: 'Are you sure?' } }
							Hold Subscription
				- else
					.pull-right
						%a.btn.btn-default{ href: bazaar.your_subscription_path( @subscription.code, subscription: { status: 'active' } ) , data: { method: :put, confirm: 'Are you sure?' } }
							Resume Subscription
				Subscribed on #{current_user.to_local_tz(@subscription.created_at).to_s( :basic_short )}
				%span.horizontal-separator="|"
				Subscription# #{@subscription.code}
				- if @subscription.failed?
					%span.horizontal-separator="|"
					%span.subscription-status.subscription-status-failed RENEWAL FAILURE
				- elsif @subscription.canceled?
					%span.horizontal-separator="|"
					%strong.subscription-status.subscription-status-canceled.color-red CANCELED
				- elsif @subscription.on_hold?
					%span.horizontal-separator="|"
					%strong.subscription-status.subscription-status-canceled.color-red HOLD


	.row
		.col-xs-12.col-md-10
			- if @subscription.failed?
				.alert.alert-danger
					Subscription is discontinued due to payment failure.  Please update payment information to resume subscription.

			.well{ style: 'background: #fff' }
				.row
					.col-xs-12.col-md-3
						%h5{ style: 'margin-bottom: 0.2em;' } Shipping Address
						= raw @subscription.shipping_user_address.to_html
						%div
							%a{ href: '#', data: { toggle: :modal, target: '#update_shipping_user_address_modal' } }
								Edit
					.col-xs-12.col-md-4
						%h5{ style: 'margin-bottom: 0.2em;' } Payment Method
						- if @subscription.properties['credit_card_brand'].present?
							%div #{@subscription.properties['credit_card_brand'].upcase} **** #{@subscription.properties['credit_card_ending_in']}
						- unless @subscription.canceled?
							%a{ href: '#', data: { toggle: :modal, target: '#update_payment_info_modal' } }
								Edit
					.col-xs-12.col-md-5
						%h5{ style: 'margin-bottom: 0.2em;' } Subscription Summary
						%p
							- if ( offer = @subscription.offer ).offer_prices.active.count > 1
								- offer.offer_schedules.active.order( start_interval: :asc ).each_with_index do |offer_schedule,index|
									- if offer_schedule.max_intervals.nil?
										once every
										= pluralize offer_schedule.interval_value, offer_schedule.interval_unit.singularize
									- else
										= number_to_human offer_schedule.max_intervals
										= offer_schedule.interval_value
										= offer_schedule.interval_unit.singularize
										= offer_schedule.period_type
										- if (offer_schedule.max_intervals || Float::INFINITY) > 1
											periods
										- else
											period
									- if index + 1 < offer.offer_schedules.active.count
										then,

							%a{ href: '#', data: { toggle: :modal, target: '#update_billing_interval_modal' } }
								Edit
						- if @subscription.active?
							%p
								Next interval starts on #{current_user.to_local_tz(@subscription.next_charged_at).to_s( :basic_short )}
								- if @subscription.active?
									%p
										Next interval starts on #{current_user.to_local_tz(@subscription.next_charged_at).to_s( :basic_short )}
										%a{ href: '#', data: { toggle: :modal, target: '#update_next_interval_modal' } }
											Edit
	.row
		.col-xs-12
			%h5{ style: 'margin-bottom: 0.2em;' } Order History
	- @orders.each do |order|
		.row
			.col-xs-12.col-md-10= render 'bazaar_web/your_orders/well', order: order, args: {}

	.row
		.col-xs-12
			%div= raw paginate @orders

= render 'bazaar_web/your_subscriptions/update_payment_info_modal'
= render 'bazaar_web/your_subscriptions/update_next_interval_modal'
= render 'bazaar_web/your_subscriptions/update_shipping_user_address_modal'
= render 'bazaar_web/your_subscriptions/update_billing_interval_modal'
