.modal.fade{ id: "#{args[:attribute]}_modal" }
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Edit #{ args[:title] }
					%small
						#{@order.code}
						by
						#{@order.email}
			= form_for @order.try(args[:attribute]), url: address_order_admin_path( @order, attribute: args[:attribute] ), method: :POST, html: {} do |f|
				.modal-body
					= render 'swell_ecom/geo_address/form', f: f
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
