#new_order_modal.modal.fade
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Order
			= form_for ( order = SwellEcom::Order.new( billing_address: SwellEcom::GeoAddress.new, shipping_address: SwellEcom::GeoAddress.new ) ), url: order_admin_index_path, html: { class: 'form' } do |f|
				.modal-body.checkout-container{ style: 'text-align: center;' }
					.row
						.col-xs-12.col-md-6.col-md-offset-3
							.form-group
								%label Email
								= f.text_field :email, class: 'form-control'
								.help-block.with-errors

					.shipping-address-section
						= f.fields_for :shipping_address do |shipping_address_form|
							%h5 Shipping Information
							= render 'swell_ecom/checkout/geo_address', f: shipping_address_form, address_attribute: :shipping_address, countries: get_shipping_countries, states: get_billing_states(  order.shipping_address.geo_country_id  ), args: {}

							.form-group
								%label
									= check_box_tag 'order[same_as_shipping]', 1, true, class: 'same_as_shipping', style: 'width:1em;'
									Billing address is the same

					.billing-address-section.hide
						= f.fields_for :billing_address do |billing_address_form|
							%h5 Billing Information
							= render 'swell_ecom/checkout/geo_address', f: billing_address_form, address_attribute: :billing_address, countries: get_billing_countries, states: get_billing_states(  order.billing_address.geo_country_id  ), args: {}


				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create Draft', class: 'btn btn-primary'
