#edit_support_notes_order.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Edit Support Notes
					%small
						#{@order.code}
						by
						#{@order.email}
			= form_for @order, url: order_admin_path( @order ) do |f|
				.modal-body
					.form-group
						= f.text_area :support_notes, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
