

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					= link_to 'Order Admin', order_admin_index_path
				%li
					%strong
						Edit Order:
						= @order.code
		.col-xs-2


	= form_for @order, url: order_admin_path( @order ) do |f|
		.row
			.col-xs-8
				.row
					.col-xs-12
						%h2
							Order:
							= @order.code
						Placed:
						= @order.created_at.to_s( :short )
						By:
						= @order.email
						%table.table.table-light.table-bordered
							%thead
								%tr
									%th Product
									%th{ style: 'width: 80px' } Price
									%th.text-right{ style: 'width: 70px' } Quantity
									%th.text-right{ style: 'width: 100px' } Subtotal
							%tbody
								- @order.order_items.prod.each do |order_item|
									%tr
										%td
											- if order_item.subscription.present?
												%a{ href: edit_subscription_admin_path( order_item.subscription ) }
													= order_item.title
													(#{order_item.subscription.code})
											- else
												= order_item.title

										%td
											= number_to_currency (order_item.price.to_f / 100)
										%td.text-right
											=order_item.quantity
										%td.text-right= number_to_currency order_item.subtotal.to_f / 100

								%tr
									%td
									%td
									%td
										Subtotal
									%td.text-right
										%strong
											= number_to_currency @order.subtotal.to_f / 100

								%tr
									%td
									%td
									%td
										Tax
									%td.text-right
										%strong
											= number_to_currency @order.tax.to_f / 100
								%tr
									%td
									%td
									%td
										Shipping
									%td.text-right
										%strong
											= number_to_currency @order.shipping.to_f / 100
								%tr
									%td
									%td
									%td
										%h5{ style: 'font-weight:bold;' }
											Total
									%td.text-right
										%h5{ style: 'font-weight:bold;' }
											= number_to_currency ( @order.total || 0 ).to_f / 100

				.row
					.col-xs-6
						%h5
							Billing Address
						.well
							= raw @order.billing_address.to_html
					.col-xs-6
						%h5
							Shipping Address
						.well
							= raw @order.shipping_address.to_html

				.row
					.col-xs-12
						%h4
							Customer Notes
						.well
							= raw @order.customer_notes
				.row
					.col-xs-12
						%h4
							Support_notes
						= f.text_area :support_notes, class: 'form-control'




			.col-xs-4
				.well

					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::Order.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
	.row
		.col-xs-8
			.pull-right
				%a.btn.btn-success{ data: { toggle: :modal, target: '#refund_order' } }
					%i.fa.fa-plus-square
					Refund
			%h4 Transactions
			%table.table.table-light.table-bordered
				%thead
					%tr
						%th{ style: 'width: 10em' } Type
						%th{ style: 'width: 10em' } Status
						%th{ style: 'width: 10em' } Gateway
						%th Reference
						%th.text-right{ style: 'width: 10em' } Amount
						%th{ style: 'width: 4em' } Currency
				%tbody
					- @transactions.each do |transaction|
						%tr
							%td
								= transaction.transaction_type
							%td
								= transaction.status
							%td
								= transaction.provider
							%td
								= transaction.try(:reference)
							%td.text-right
								= number_to_currency (transaction.amount.to_f / 100)
							%td
								= transaction.currency



= render 'swell_ecom/order_admin/refund_modal'
