


.container-fluid
	.row
		.col-xs-10
			%h2 Orders
		.col-xs-2
			-# if authorized?(SwellEcom::Order, controller: SwellEcom::OrderAdminController, action: :create )
				%a.btn.btn-success{ href: swell_ecom.new_order_admin_path() }
					%i.fa.fa-plus-square
					New
	.row{ style: 'margin-top: 0' }
		.col-xs-5
			= raw paginate @orders
		.col-xs-7
			= form_tag order_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellEcom::Order.statuses, :first, :first, params[:status] ), { prompt: "Status", class: 'form-control' }
				= select_tag :payment_status, options_from_collection_for_select( SwellEcom::Order.payment_statuses, :first, :first, params[:payment_status] ), { prompt: "Payment Status", class: 'form-control' }
				= select_tag :fulfillment_status, options_from_collection_for_select( SwellEcom::Order.fulfillment_statuses, :first, :first, params[:fulfillment_status] ), { prompt: "Fulfillment Status", class: 'form-control' }
				= select_tag :type, options_for_select([ ['All Order Types', 'SwellEcom::Order'], ['Checkout Orders', 'SwellEcom::CheckoutOrder'], ['Fulfillment Orders', 'SwellEcom::FulfillmentOrder'], ['Wholesale Orders', 'SwellEcom::WholesaleOrder'] ], @type_filter), { class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', order_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th{ style: 'width: 10em' }
						Code
					%th{ style: 'width: 10em' }
						Created
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Customer
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'email', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'email', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Items
					%th{ style: 'width: 17em' }
						Status
					%th{ style: 'width: 7em' }
						Total
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'total', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], fulfillment_status: params[:fulfillment_status], payment_status: params[:payment_status], q: params[:q], sort_by: 'total', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 6em' }
				%tbody
					- if @orders.blank?
						%tr
							%td{ colspan: 6 }
								\- No Orders Found -
					- @orders.each do |order|
						= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: true }
	.row
		.col-xs-6
			= raw paginate @orders
