


.container-fluid
	.row
		.col-xs-10
			%h2 Orders
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @orders
		.col-xs-6
			= form_tag order_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellEcom::Order.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', order_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th{ style: 'width: 10em' }
						Code
					%th{ style: 'width: 10em' }
						Created
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Customer
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'email', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'email', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 11em' } Order Status
					%th{ style: 'width: 11em' } Fulfillment Status
					%th{ style: 'width: 10em' }
						Total
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'total', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: order_admin_index_path( status: params[:status], q: params[:q], sort_by: 'total', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th{ style: 'width: 6em' }
				%tbody
					- if @orders.blank?
						%tr
							%td{ colspan: 7 }
								\- No Orders Found -
					- @orders.each do |order|
						= render 'swell_ecom/order_admin/table_row', order: order, args: { controls: true }
	.row
		.col-xs-6
			= raw paginate @orders
