.container
	.row
		.col-xs-12

			%h2 Welcome #{current_user.first_name}
		.col-xs-12.col-md-6
			%h3 My Orders
			%table.table
				%thead
					%tr
						%th Order ID
						%th Placed
						%th Total
				%tbody
					- @orders.limit(5).each do |order|
						%tr
							%td
								%a{ href: swell_ecom.my_order_path( order.code ) }=order.code
							%td
								= current_user.to_local_tz(order.created_at).to_s( :short )
							%td
								= number_to_currency order.total / 100.0
			- if @orders.count > 5
				%a{ href: swell_ecom.my_orders_path() } More
		.col-xs-12.col-md-6
			%h3 My Subscriptions
			%table.table
				%thead
					%tr
						%th Subscription ID
						%th Placed
						%th Next Charge
				%tbody
					- @subscriptions.limit(5).each do |subscription|
						%tr
							%td
								%a{ href: swell_ecom.my_subscription_path( subscription.code ) }=subscription.code
							%td
								= current_user.to_local_tz(subscription.created_at).to_s( :short )
							%td
								= current_user.to_local_tz(subscription.next_charged_at).to_s( :short )
			- if @subscriptions.count > 5
				%a{ href: swell_ecom.my_subscriptions_path() } More
