
.row
	.col-sm-6.col-md-4
		= image_tag @product.avatar, class: 'img img-responsive center-block'
	.col-sm-6.col-md-8
		%h1
			= @product.title
		%div{ style: 'font-weight: bold;font-size: 1.2em;padding-bottom: 1em;margin-bottom: 1em;border-bottom: 1px solid #ccc;' }

			- if ( @min_price.present? && @max_price.present? ) && @min_price != @max_price
				#{number_to_currency @min_price.to_f / 100} - #{number_to_currency @max_price / 100}
			- elsif @min_price.present?
				#{number_to_currency @min_price.to_f / 100}

		= render 'shopify_buy_now'

		- if @product.content.present?
			%div{ style: 'padding-bottom: 1em;margin-bottom: 1em;border-bottom: 1px solid #ccc;' }
				= raw @product.content

		-# %div
			- @product_options.each do |option|
				= select_tag "option[#{option.code}]", options_for_select({option.label => ''}.merge( Hash[*@options[option.code][:values].collect{|v| [v,v] }.flatten] ), @options[option.code][:selected])
			.pull-right
				- if @skus.count == 1
					= link_to 'Buy', new_checkout_path( items: [ { code: @skus.first.code } ] ), class: 'btn btn-primary'
				- else
					%a.btn.btn-primary.disabled{ disabled: true }
						Buy

		.row
			- @product.skus.each do |sku|
				.col-xs-6.col-md-3{ style: 'margin-top: 0.5em;' }
					= sku.label
				.col-xs-6.col-md-3{ style: 'margin-top: 0.5em;' }
					= link_to 'Buy', new_checkout_path( items: [ { code: sku.code } ] ), class: 'btn btn-primary'
