#new_gallery_attachment_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Product
			= form_for @product, url: pulitzer.attachments_path, method: 'POST' do |f|
				= hidden_field_tag :attribute, :gallery_attachments
				= hidden_field_tag :object_class, @product.class.base_class.name
				= hidden_field_tag :object_id, @product.id
				.modal-body
					.form-group
						= f.file_field :gallery_attachments, name: :attachments
					.form-group{ style: 'margin-bottom: 0' }
						%label Position
						= number_field_tag :sequence, '', min: 1, step: 1, placeholder: 'last', class: 'form-control'
					%label
						= check_box_tag :replace, '1', false
						Replace Existing?

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
