- if defined?(Perkins::Page)
	- pages = product.linked_perkins_pages.where( status: ['draft','active'] )
	.panel.panel-default
		#headingPagesList.panel-heading{role: "tab"}
			%h4.panel-title
				%a{"aria-controls" => "collapsePagesList", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapsePagesList", role: "button"}
					Pages
		#collapsePagesList.panel-collapse.collapse{"aria-labelledby" => "headingPagesList", role: "tabpanel"}
			.panel-body
				%table.table.table-light.table-bordered{ style: 'margin:0;' }
					%thead
						%th Path
						%th Title
						%th{ style: 'width: 6em' } Status
						%th{ style: 'width: 10em' } Created At
					- if pages.count == 0
						%tr
							%td{ colspan: 2 }
								\- No Pages Found -
					- pages.order( status: :desc, Arel.sql("NULLIF(perkins_pages.path,'')") => :asc, title: :asc ).each do |page|
						%tr
							%td
								- if page.path.present?
									%a{ href: page.url }= "/#{page.path}"
								- else
									\-
							%td
								%a{ href: perkins.edit_page_admin_path( page.id ) }
									= page.title
								- if page.page_products.where( product: product ).present?
									%div
										%i= "#{page.page_products.where( product: product ).pluck(:name).join(', ')}"
								- if (page_sections = product.linked_perkins_page_sections.where( page: page ) ).present?
									- page_sections.each do |page_section|
										%div{ style: 'padding-left: 1em;'}
											Section >
											= "#{page_section.name}:"
											%i= "#{(page_section.page_section_products.where( product: product ).pluck(:name) + page_section.page_section_offers.joins(:offer).merge(Bazaar::Offer.where( product: product ) ).pluck(:name)).join(', ')}"

							%td
								= page.status
							%td
								= current_user.to_local_tz(page.created_at).to_fs( :short )
