


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: product_admin_index_path }
						%i.fa.fa-angle-left
						Products
			%h2
				%strong= @product.title
				%small= current_user.to_local_tz(@product.created_at).to_fs( :short )

		.col-xs-2.text-right
			%a.btn.btn-primary{ href: preview_product_admin_path( @product.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	= form_for @product, url: product_admin_path( @product ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

					.form-group
						= f.label :caption
						= f.text_field :caption, class: 'form-control'

					.form-group
						= f.label :slug_pref, 'Slug'
						= f.text_field :slug_pref, class: 'form-control', placeholder: @product.slug

					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @product.class.base_class.name, object_id: @product.id }.to_json }

					- if @product.respond_to? :medical_disclaimer
						.form-group
							= f.label :medical_disclaimer
							= f.text_area :medical_disclaimer, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @product.class.base_class.name, object_id: @product.id }.to_json }


				= render 'custom_fields', f: f, options: {}

				.well.white-well
					.form-group
						%h4 Pricing
					.form-group
						= f.label :suggested_price_as_money_string, 'Suggested Price'
						= f.number_field :suggested_price_as_money_string, class: 'form-control', min: 0.00, step: 0.01

				#upsell_offers
					.well.white-well
						%a.pull-right{ href: '#new_upsell_offer_modal', data: { toggle: :modal, target: '#new_upsell_offer_modal' } }
							%i.fa.fa-plus
							Add
						%h4
							Upsell Offers

						= render 'bazaar/offer_admin/upsell_offer_table', upsell_offers: Bazaar::UpsellOffer.active.where( src_product: @product, src_offer: nil ), args: {}


				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_gallery_attachment_modal' } } Add Gallery Image
					.form-group
						%h4 Gallery
					.row
						.col-xs-6.col-sm-3
							.well
								.text-center{ style: 'margin-top: -16px;line-height: 16px;' } Default Image
								- if @product.avatar
									%a{ href: @product.avatar, target: '_preview_image' }
										%img.img.img-responsive.center-block#product_avatar_img{:src => @product.avatar }
								- else
									%img.img.img-responsive.center-block{:src => 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', style: 'width: 100%;' }
								.text-center{ style: 'margin-bottom: -14px;' }
									= f.file_field :avatar_attachment

						- @product.gallery_attachments.each do |image|
							.col-xs-6.col-sm-3
								.well
									%a{ href: image.url, target: '_preview_image' }
										%img.img.img-responsive.center-block{:src => image.url }
									.text-center{ style: 'margin-bottom: -14px;' }
										%a{ href: pulitzer.attachment_path( image.id, object_class: @product.class.base_class.name, object_id: @product.id, attribute: :gallery_attachments ), data: { method: :delete } }
											%i.fa.fa-trash
											delete

			.col-xs-4
				.well.white-well

					%h4
						Default Offer
					.form-group
						= f.collection_select :offer_id, @product.offers.active, :id, :title, {}, class: 'form-control select-2-ajax', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: { product_id: @product.id }, format: 'json' ) }

					%hr

					%h4
						Publishing Settings
					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Product.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :availability
						= f.collection_select :availability, Bazaar::Product.availabilities, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :category_id
						= f.collection_select :category_id, Bazaar::ProductCategory.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.text_field :category_name, class: 'form-control', placeholder: 'Add Category'

					.form-group
						= f.label :tags_csv, 'Tags:'
						= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

	.row#skus
		.col-xs-12
			.well.white-well
				%h4
					Offers
				= render 'bazaar/offer_admin/offer_table', offers: @product.offers.order( title: :asc ), args: {}



= render 'new_gallery_attachment', args: {}
= render 'bazaar/upsell_offer_admin/new_modal', args: { src_product: @product }
