


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: product_admin_index_path }
						%i.fa.fa-angle-left
						Products
				- if @product.is_a?( Bazaar::SubProduct ) && @product.parent.present?

					%li
						%a{ href: edit_product_admin_path(@product.parent_id) }
							= @product.parent.title
			%h2
				%strong= @product.title
				%small= current_user.to_local_tz(@product.created_at).to_fs( :short )

		.col-xs-2.text-right
			%a.btn.btn-primary{ href: preview_product_admin_path( @product.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	= form_for @product, url: product_admin_path( @product ), as: :product do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'
					.row
						-# .col-xs-12.col-lg-6
							.form-group
								= f.label :caption
								= f.text_field :caption, class: 'form-control'
						.col-xs-12.col-lg-6
							.form-group
								= f.label :slug_pref, 'Slug'
								= f.text_field :slug_pref, class: 'form-control', placeholder: @product.slug

					-# .form-group
						= f.label :description
						= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @product.class.base_class.name, object_id: @product.id }.to_json }

				= render 'bazaar/product_admin/listing_section', product: @product, f: f, args: {}

				- if @product.is_a?(Bazaar::RootProduct)
					.panel.panel-default
						#headingContent.panel-heading{role: "tab"}
							%h4.panel-title
								%a{"aria-controls" => "collapseContent", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseContent", role: "button"}
									Content
						#collapseContent.panel-collapse.collapse{"aria-labelledby" => "headingContent", role: "tabpanel"}
							.panel-body

								.well.white-well
									.form-group
										%h4
											Product Image
											%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The public facing image used to reference this product.' }
									.form-group
										.row
											.col-xs-6{ style: 'max-width: 100px;' }
												%div{ style: 'border: 1px solid #ccc;background: #fff;margin-bottom: 5px;' }
													- if @product.avatar.present?
														%a{ href: @product.avatar, target: '_preview_image' }
															%img.img.img-responsive.center-block#product_avatar_img{:src => @product.avatar }
													- else
														%img.img.img-responsive.center-block{:src => 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', style: 'width: 100%;' }
											.col-xs-6
												= f.file_field :avatar_attachment

								- if @product.respond_to?( :medical_disclaimer )
									.well.white-well
										.form-group
											%h4 Medical Disclaimer
										.form-group
											-# = f.label :medical_disclaimer
											= f.text_area :medical_disclaimer, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @product.class.base_class.name, object_id: @product.id }.to_json }

								.well.white-well
									.form-group
										%h4 Formulation
									.row
										.col-xs-12.col-md-6
											= render 'pulitzer/attachments/has_one_card', f: f, attribute: :formulation_avatar_attachment, object: @product, args: {}
										.col-xs-12.col-md-6
											= render 'pulitzer/attachments/has_one_card', f: f, attribute: :formulation_nutrition_info_attachment, object: @product, args: {}

								.well.white-well
									.pull-right
										%a{ href: '#', data: { toggle: :modal, target: '#new_gallery_attachments_modal' } } Add
									%h5 Gallery Attachments
									= render 'pulitzer/attachments/gallery', object: @product, attribute: :gallery_attachments, args: { success: edit_product_admin_path( @product.id ) }

								= render 'custom_content_section', product: @product, f: f
					.panel.panel-default
						#headingRelease.panel-heading{role: "tab"}
							%h4.panel-title
								%a{"aria-controls" => "collapseRelease", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseRelease", role: "button"}
									Release
						#collapseRelease.panel-collapse.collapse{"aria-labelledby" => "headingRelease", role: "tabpanel"}
							.panel-body
								.row
									.col-xs-12.col-md-6
										.form-group
											= f.label :pre_release_start_at
											= f.text_field :pre_release_start_at, value: current_user.to_local_tz( f.object.pre_release_start_at ), class: 'form-control datetimepicker'
									.col-xs-12.col-md-6
										.form-group
											= f.label :pre_release_end_at
											= f.text_field :pre_release_end_at, value: current_user.to_local_tz( f.object.pre_release_end_at ), class: 'form-control datetimepicker'
									.col-xs-12.col-md-6
										.form-group
											= f.label :released_at
											= f.text_field :released_at, value: current_user.to_local_tz( f.object.released_at ), class: 'form-control datetimepicker'
									.col-xs-12.col-md-6
										= render 'pulitzer/attachments/has_one_card', f: f, attribute: :coming_soon_attachment, object: @product, args: {}
								= render 'custom_release_section', product: @product, f: f
				.panel.panel-default
					#headingMoreSettings.panel-heading{role: "tab"}
						%h4.panel-title
							%a{"aria-controls" => "collapseMoreSettings", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseMoreSettings", role: "button"}
								More Settings
					#collapseMoreSettings.panel-collapse.collapse{"aria-labelledby" => "headingMoreSettings", role: "tabpanel"}
						.panel-body

							- if @product.is_a?(Bazaar::RootProduct)
								.well.white-well
									.row
										- if @product.respond_to? :mpns_csv
											.col-xs-12.col-lg-6
												.form-group
													= f.label :mpns_csv, 'MPNs: (Comma Separated)'
													= f.text_field :mpns_csv, placeholder: 'Separate with commas', class: 'form-control'
										- if @product.respond_to? :gtins_csv
											.col-xs-12.col-lg-6
												.form-group
													= f.label :gtins_csv, 'GTINs: (Comma Separated)'
													= f.text_field :gtins_csv, placeholder: 'Separate with commas', class: 'form-control'

							= render 'custom_fields', f: f, options: {}

			.col-xs-4
				.well.white-well
					%h4
						Publishing Settings
					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Product.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: current_user.to_local_tz( f.object.publish_at ), class: 'form-control datetimepicker'
					-# .form-group
						= f.label :availability
						= f.collection_select :availability, Bazaar::Product.availabilities, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :category_id
						= f.collection_select :category_id, Bazaar::ProductCategory.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.text_field :category_name, class: 'form-control', placeholder: 'Add Category'

					.form-group
						= f.label :reviewable, 'Reviewable?'
						= f.check_box :reviewable, {}, 'true', 'false'

					.form-group
						= f.label :tags_csv, 'Tags:'
						= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'

					-# %h4
					-# 	Default Offer
					-# .form-group
					-# 	= f.collection_select :offer_id, @product.offers.active, :id, :title, {}, class: 'form-control select-2-ajax', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: { product_id: @product.id }, format: 'json' ) }

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

	= render 'bazaar/product_admin/upsell_offers_section', product: @product, args: {}
	= render 'bazaar/product_admin/offers_section', product: @product, args: {}
	= render 'bazaar/product_admin/skus_section', product: @product, args: {}
	= render 'bazaar/product_admin/pages_section', product: @product, args: {}
	= render 'bazaar/product_admin/sub_products_section', product: @product, args: {}
	= render 'bazaar/product_admin/related_products_section', product: @product, args: {}



= render 'bazaar/upsell_offer_admin/new_modal', args: { src_product: @product }
= render 'new_modal', args: { type: 'Bazaar::SubProduct', parent_id: @product.id }
= render 'bazaar/product_relationship_admin/new_modal', product: @product, args: {  }

= render 'pulitzer/attachments/new_has_many_attachments', attribute: 'gallery_attachments', object: @product, args: {}