


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: product_admin_index_path }
						%i.fa.fa-angle-left
						Products
			%h2
				%strong= @product.title
				%small= current_user.to_local_tz(@product.created_at).to_s( :short )

		.col-xs-2.text-right
			%a.btn.btn-primary{ href: preview_product_admin_path( @product.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	= form_for @product, url: product_admin_path( @product ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

			.col-xs-4
				.well.white-well
					%h4
						Publishing Settings
					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Product.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :offer_id
						= f.collection_select :offer_id, Bazaar::Offer.active.order( :title ), :id, :title, { include_blank: '-- None -- ' }, class: 'form-control'
						- if @product.offer
							%a{ href: bazaar.edit_offer_admin_path( id: @product.offer.id ) }
								= @product.offer.title
					.form-group
						= f.label :category_id
						= f.collection_select :category_id, Bazaar::ProductCategory.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.text_field :category_name, class: 'form-control', placeholder: 'Add Category'

					.form-group
						= f.label :tags_csv, 'Tags:'
						= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'



= render 'bazaar/offer_sku_admin/new_modal', parent_obj: @product.offer, args: { start_interval: 1, max_intervals: 1 }
-# = render 'new_gallery_attachment', args: {}
