.modal.fade#shipping_carrier_service_edit_service_attributes_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Edit Service Attributes
			= form_for @shipping_carrier_service, url: shipping_carrier_service_admin_path( @shipping_carrier_service ), html: {} do |f|
				.modal-body
					.form-group
						= f.label :carrier
						= f.text_field :carrier, class: 'form-control'

					.form-group
						= f.label :service_name
						= f.text_field :service_name, class: 'form-control'

					.form-group
						= f.label :service_code
						= f.text_field :service_code, class: 'form-control'

					.form-group
						= f.label :service_description
						= f.text_field :service_description, class: 'form-control'

					.form-group
						= f.label :service_group
						= f.text_field :service_group, class: 'form-control'

					.form-group
						= f.label :delivery_category
						= f.text_field :delivery_category, class: 'form-control'


				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
