= f.fields_for :order_items, order_item do |order_item_form|
  %tr{ id: "order_item_#{order_item.id}_edit_row", data: { url: bazaar_admin.order_item_admin_path( order_item ), update: 'order_item', on: 'change' } }
    %td
      - if ( subscription = order_item.subscription ).present? || ( subscription = order_item.item ).is_a?( BazaarCore::Subscription )
        - if authorized?(subscription, controller: BazaarAdmin::SubscriptionAdminController, action: :edit )
          %a{ href: edit_subscription_admin_path( subscription ) }
            = order_item.title
            (#{subscription.code})
        - else
          = order_item.title
          (#{subscription.code})
      - else
        = order_item.title

      %a{ href: bazaar_admin.order_item_admin_path( order_item ), style: 'color: #f00;' , data: { method: :delete, confirm: 'Are you sure?', remote: true } }
        %i.fa.fa-trash

    %td
      = order_item_form.number_field :price_as_money_string, class: 'form-control'
    %td.text-right
      = order_item_form.number_field :quantity, class: 'form-control'
    %td.text-right{ data: { for: 'order_item.subtotal_formatted' } }=order_item.subtotal_formatted
