

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: sku_admin_index_path }
						%i.fa.fa-angle-left
						Skus
			%h2
				%strong= @sku.to_s
				%small= current_user.to_local_tz(@sku.created_at).to_s( :short )

		.col-xs-2


	= form_for @sku, url: bazaar.sku_admin_path( @sku ) do |f|
		.row
			.col-xs-8
				.well.white-well
					%h4 Shipments

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Created At
							%th Items
							%th Destination
							%th &nbsp;
						%tbody
							- if @shipments.blank?
								%tr
									%td{ colspan: 4 }
										\- No Shipments -
							- @shipments.each do |shipment|
								%tr
									%td=current_user.to_local_tz(shipment.created_at).to_s( :short )
									%td=shipment.shipment_skus.includes(:sku).collect{|shipment_sku| "#{shipment_sku.sku.code}x#{shipment_sku.quantity}" }.join(',')
									%td=raw shipment.destination_user_address.to_html
									%td
										&nbsp;
					= raw paginate @shipments

				.well.white-well
					%h4 Warehouses

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Warehouse
							%th Warehouse Code
							%th Quantity
							%th Status
							%th Priority
							%th &nbsp;
						%tbody
							- if @warehouse_skus.blank?
								%tr
									%td{ colspan: 6 }
										\- No Warehouses -
							- @warehouse_skus.each do |warehouse_sku|
								%tr
									%td
										= link_to warehouse_sku.warehouse.name, edit_warehouse_admin_path(warehouse_sku.warehouse)
									%td=warehouse_sku.warehouse_code
									%td=warehouse_sku.quantity
									%td=warehouse_sku.status
									%td=warehouse_sku.priority
									%td.text-right
										%a.btn.btn-default{ href: bazaar.edit_warehouse_sku_admin_path( warehouse_sku ) }
											%i.fa.fa-edit


				.well.white-well
					%h4 Offers

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Name
							%th Type
						%tbody
							- if @offers.blank?
								%tr
									%td{ colspan: 2 }
										\- No Offers -
							- @offers.each do |offer|
								%tr
									%td= link_to offer.to_s, edit_offer_admin_path(offer)
									%td=offer.class

				- if defined?( SwellId::IdentifierAdminController )
					= render 'swell_id/identifier_admin/well', parent_obj: @sku, args: {}

				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_sku_country_modal' } }
							%i.fa.fa-plus-square
							Add Country
					%h4 Restrictions
					.form-group
						= f.collection_select :country_restriction_type, Bazaar::Sku.country_restriction_types, :first, :first, {}, class: 'form-control'

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th
								Country
							%th &nbsp;
						%tbody
							- if @sku_countries.blank?
								%tr
									%td{ colspan: 2 }
										\- No Countries -
							- @sku_countries.each do |sku_country|
								%tr
									%td=sku_country.geo_country.name
									%td.text-right
										%a.btn.btn-danger{ href: bazaar.sku_country_admin_path( sku_country ), data: { method: :delete, confirm: 'Are you sure?' } }
											%i.fa.fa-trash


			.col-xs-4
				.well.white-well
					%h4
						Sku Settings

					.form-group
						= f.label :name
						= f.text_field :name, class: 'form-control'

					.form-group
						%label Code
						= text_field_tag :code, @sku.code, class: 'form-control disabled', readonly: true, disabled: true

					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Sku.statuses, :first, :first, {}, class: 'form-control'

					%hr

					.form-group
						= f.label :shape
						= f.collection_select :shape, Bazaar::Sku.shapes, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :weight
						.input-group
							= f.number_field :weight, class: 'form-control', step: 0.001
							%span.input-group-addon grams
					.form-group
						= f.label :length
						.input-group
							= f.number_field :length, class: 'form-control', step: 0.001
							%span.input-group-addon cm
					.form-group
						= f.label :width
						.input-group
							= f.number_field :width, class: 'form-control', step: 0.001
							%span.input-group-addon cm
					.form-group
						= f.label :height
						.input-group
							= f.number_field :height, class: 'form-control', step: 0.001
							%span.input-group-addon cm

					%hr

					.form-group
						= f.label :sku_cost
						.input-group
							%span.input-group-addon $
							= f.number_field :sku_cost, class: 'form-control', step: 0.01
					.form-group
						= f.label :sku_value
						.input-group
							%span.input-group-addon $
							= f.number_field :sku_value, class: 'form-control', step: 0.01

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

= render "bazaar/sku_country_admin/new_modal"
