#new_order_offer_modal.modal.fade
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Item
			= form_for BazaarCore::OrderOffer.new( order: order ), url: order_offer_admin_index_path(), html: { class: 'form' } do |f|
				= f.hidden_field :order_id
				.modal-body
					.form-group
						= f.label :order_id, 'Offer'
						= f.collection_select :order_id, BazaarCore::Offer.active, :offer_id, Proc.new{ |offer| "#{offer.title} (#{offer.initial_price_formatted})" }, {}, class: 'form-control'
					.form-group
						= f.label :quantity
						= f.number_field :quantity, class: 'form-control', value: 1
					.form-group
						= f.label :price_as_money_string, "Price"
						= f.number_field :price_as_money_string, class: 'form-control', value: nil


				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Add', class: 'btn btn-primary'
