#new_wholesale_item_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Wholesale Offer
			= form_for Bazaar::WholesaleItem.new( wholesale_profile: @wholesale_profile ), url: bazaar.wholesale_item_admin_index_path do |f|
				.modal-body
					= f.hidden_field :wholesale_profile_id
					.form-group
						= f.label :offer_id, 'Offer'
						= f.collection_select :offer_id, Bazaar::Offer.active.order(title: :asc), :id, Proc.new{ |item| "#{item.title} (#{item.initial_price_formatted})" }, { prompt: false }, class: 'form-control', required: true
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
