.modal.fade{ id: "new_subscription_offer_modal" }
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Update Offer
			= form_for Bazaar::SubscriptionOffer.new( subscription: subscription, status: 'active' ), url: bazaar.subscription_offer_admin_index_path() do |f|
				= f.hidden_field :subscription_id
				= f.hidden_field :status
				.modal-body
					.form-group.select2-form-group
						= f.label :offer_id, 'Offer'
						%div
							= f.collection_select :offer_id, Bazaar::Offer.recurring.active, :id, :title, {}, class: 'form-control select-2-ajax', style: 'width: 100%', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: { recurring: 'true' }, format: 'json' ) }
					.form-group
						= f.label :quantity
						= f.number_field :quantity, class: 'form-control'
					.form-group
						= f.label :next_subscription_interval
						= f.number_field :next_subscription_interval, class: 'form-control', value: subscription.next_subscription_interval, min: subscription.next_subscription_interval
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'

