= form_for @order, url: bazaar.fulfillment_order_admin_index_path(), as: :order, html: { class: 'form' } do |f|

	%h1 New Fulfillment Order

	.well.white-well
		.form-group
			%label Email
			= f.text_field :email, class: 'form-control'
			.help-block.with-errors

	.well.white-well
		%h5 Item

		.order-items
			= f.fields_for :order_items, Bazaar::OrderItem.new( order_item_type: 'prod' ) do |order_item_form|
				.row.order-item
					.col-xs-6.col-md-8
						= order_item_form.select :item_polymorphic_id, grouped_options_for_select( { 'Products' => Bazaar::Product.active.order( title: :asc ).collect{|item| [item.title,item.polymorphic_id] } } ), {}, class: 'form-control select-2-basic'
					.col-xs-6.col-md-4
						= order_item_form.number_field :quantity, class: 'form-control', value: 1, min: 1, step: 1

	.well.white-well
		.shipping-address-section
			= f.fields_for :shipping_address do |shipping_address_form|
				%h5 Shipping Information
				= render 'bazaar/checkout/geo_address', f: shipping_address_form, address_attribute: :shipping_address, countries: get_shipping_countries, states: get_billing_states(	@order.shipping_address.geo_country_id	), args: {}


	.row
		.col-xs-12.text-right
			= f.submit "Process", class: 'btn btn-primary'
