

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: subscription_plan_admin_index_path }
						%i.fa.fa-angle-left
						Plans
			%h2
				%strong= @plan.title
				%small= current_user.to_local_tz(@plan.created_at).to_s( :short )

		.col-xs-2


	= form_for @plan, url: subscription_plan_admin_path( @plan ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'


					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', asset_manager: swell_media.asset_manager_index_path( asset: { parent_obj_type: @plan.class.name, parent_obj_id: @plan.id }, request_forgery_protection_token.to_s => form_authenticity_token, response: :json ) }.to_json }

					.form-group
						= f.label :content, 'Full Description'
						= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', asset_manager: swell_media.asset_manager_index_path( asset: { parent_obj_type: @plan.class.name, parent_obj_id: @plan.id }, request_forgery_protection_token.to_s => form_authenticity_token, response: :json ) }.to_json }

			.col-xs-4
				.well.white-well
					%h4
						Subscription Settings
					.form-group
						= f.label :price
						.input-group
							%span.input-group-addon
								$
							= f.text_field :price, value: number_with_precision( (@plan.price.to_f / 100), :precision => 2 ), class: 'form-control'
					.form-group
						%label Billing Interval:
						.row{ style: 'margin-top: 0;' }
							.col-xs-5
								= f.number_field :billing_interval_value, class: 'form-control', min: 1, max: 365, step: 1
							.col-xs-7
								= f.select :billing_interval_unit, ['months', 'days'], {}, class: 'form-control'

					%hr

					.form-group
						%h4
							Trial Settings
						.clearfix
						= f.label :trial_price, 'Price'
						.input-group
							%span.input-group-addon
								$
							= f.text_field :trial_price, value: number_with_precision( (@plan.trial_price.to_f / 100), :precision => 2 ), class: 'form-control'

						%label Billing Interval:
						.row{ style: 'margin-top: 0;' }
							.col-xs-5
								= f.number_field :trial_interval_value, class: 'form-control', min: 1, max: 365, step: 1
							.col-xs-7
								= f.select :trial_interval_unit, ['months', 'days'], {}, class: 'form-control'

					%hr

					%h4
						Publishing Settings
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: current_user.to_local_tz( @plan.publish_at ), class: 'form-control datepicker'

					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::SubscriptionPlan.statuses, :first, :first, {}, class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
