

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: subscription_plan_admin_index_path }
						%i.fa.fa-angle-left
						Plans
			%h2
				%strong= @plan.title
				%small= current_user.to_local_tz(@plan.created_at).to_s( :short )

		.col-xs-2


	= form_for @plan, url: subscription_plan_admin_path( @plan ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

					.form-group
						= f.label :slug_pref, 'URL for this plan:'
						.input-group
							%span.input-group-addon
								= "#{Pulitzer.app_host}/subscriptions/"
							= f.text_field :slug_pref, class: 'form-control', placeholder: @plan.slug



					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default' }.to_json }

					.form-group
						= f.label :content, 'Full Description'
						= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default' }.to_json }

					.form-group
						= f.label :cart_description, 'Cart Description'
						= f.text_area :cart_description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: true, toolbar_preset: 'admin_default' }.to_json }

				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_gallery_attachment_modal' } } Add Gallery Image
					.form-group
						%h4 Gallery
					.row
						.col-xs-6.col-sm-3
							.well
								.text-center{ style: 'margin-top: -16px;line-height: 16px;' } Default Image
								- if @plan.avatar
									%a{ href: @plan.avatar_url, target: '_preview_image' }
										%img.img.img-responsive.center-block#plan_avatar_img{:src => @plan.avatar }
								- else
									%img.img.img-responsive.center-block{:src => 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', style: 'width: 100%;' }
								.text-center{ style: 'margin-bottom: -14px;' }
									= f.file_field :avatar_attachment
						- @plan.gallery_attachments.each do |image|
							.col-xs-6.col-sm-3
								.well
									%a{ href: image.service_url, target: '_preview_image' }
										%img.img.img-responsive.center-block{:src => image.service_url }
									.text-center{ style: 'margin-bottom: -14px;' }
										%a{ href: pulitzer.attachment_path( image.id, object_class: @plan.class.base_class.name, object_id: @plan.id, attribute: :gallery_attachments ), data: { method: :delete } }
											%i.fa.fa-trash
											delete
			.col-xs-4
				.well.white-well
					%h4
						Subscription Settings
					.form-group
						= f.label :price_as_money, 'Price'
						.input-group
							%span.input-group-addon
								$
							= f.text_field :price_as_money, class: 'form-control'
					.form-group
						%label Billing Interval:
						.row{ style: 'margin-top: 0;' }
							.col-xs-5
								= f.number_field :billing_interval_value, class: 'form-control', min: 1, max: 365, step: 1
							.col-xs-7
								= f.select :billing_interval_unit, ['months', 'weeks', 'days'], {}, class: 'form-control'

					.form-group
						= f.label :tax_code
						= f.text_field :tax_code, class: 'form-control'

					.form-group
						= f.label :product_sku, 'SKU'
						= f.text_field :product_sku, class: 'form-control'


					.form-group
						= f.label :package_shape
						= f.collection_select :package_shape, SwellEcom::Product.package_shapes, :first, :first, {}, class: 'form-control'

					.row
						.col-xs-12.col-lg-6
							.form-group
								= f.label :package_weight
								.input-group
									= f.number_field :package_weight, class: 'form-control'
									%span.input-group-addon grams
						.col-xs-12.col-lg-6
							.form-group
								= f.label :package_length
								.input-group
									= f.number_field :package_length, class: 'form-control'
									%span.input-group-addon cm
						.col-xs-12.col-lg-6
							.form-group
								= f.label :package_width
								.input-group
									= f.number_field :package_width, class: 'form-control'
									%span.input-group-addon cm
						.col-xs-12.col-lg-6
							.form-group
								= f.label :package_height
								.input-group
									= f.number_field :package_height, class: 'form-control'
									%span.input-group-addon cm

					%hr

					.form-group
						%h4
							Trial Settings
						.clearfix
						= f.label :trial_price_as_money, 'Price'
						.input-group
							%span.input-group-addon
								$
							= f.text_field :trial_price_as_money, class: 'form-control'

						%label Billing Interval:
						.row{ style: 'margin-top: 0;margin-bottom: 10px;' }
							.col-xs-5
								= f.number_field :trial_interval_value, class: 'form-control', min: 1, max: 365, step: 1
							.col-xs-7
								= f.select :trial_interval_unit, ['months', 'weeks', 'days'], {}, class: 'form-control'

						.form-group
							= f.label :trial_max_intervals, 'Max Intervals'
							= f.number_field :trial_max_intervals, class: 'form-control'

						.form-group
							= f.label :trial_sku, 'SKU'
							= f.text_field :trial_sku, class: 'form-control'

					%hr

					%h4
						Publishing Settings
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: current_user.to_local_tz( @plan.publish_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :status
						= f.collection_select :status, SwellEcom::SubscriptionPlan.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.label :availability
						= f.collection_select :availability, SwellEcom::SubscriptionPlan.availabilities, :first, :first, {}, class: 'form-control'

					- if @plan.respond_to? :tags
						.form-group
							= f.label :tags_csv, 'Tags:'
							= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

= render 'new_gallery_attachment', args: {}
