.container-fluid
	.row
		.col-xs-12
			%h1
				New Transaction
				%small=@transaction.parent_obj.to_s
	= form_for @transaction, url: bazaar.transaction_admin_index_path(@transaction), as: :transaction, html: { class: 'form' } do |f|
		= hidden_field_tag :success_redirect_path, params[:success_redirect_path]
		= hidden_field_tag :failure_redirect_path, params[:failure_redirect_path]
		= f.hidden_field :parent_obj_type
		= f.hidden_field :parent_obj_id
		.row
			.col-xs-12.col-md-8
				.row
					.col-xs-12.col-md-6
						.form-group
							=f.label :transaction_type
							= f.collection_select :transaction_type, @transaction.class.transaction_types, :first, :first, {}, class: 'form-control'
					.col-xs-12.col-md-6
						.form-group
							=f.label :status
							= f.collection_select :status, @transaction.class.statuses, :first, :first, {}, class: 'form-control'
				.form-group
					=f.label :billing_user_address
					%div
						= raw @transaction.billing_user_address.try(:to_html) || 'N/A'
				.form-group
					=f.label :amount_as_money, "Amount"
					= f.number_field :amount_as_money, class: 'form-control', step: 0.01, min: 0.0
				.form-group
					=f.label :currency
					= f.text_field :currency, class: 'form-control'
				.form-group
					=f.label :provider
					= f.text_field :provider, class: 'form-control'
				.form-group
					=f.label :reference_code
					= f.text_field :reference_code, class: 'form-control'
				.form-group
					=f.label :customer_profile_reference
					= f.text_field :customer_profile_reference, class: 'form-control'
				.form-group
					=f.label :customer_payment_profile_reference
					= f.text_field :customer_payment_profile_reference, class: 'form-control'
				.form-group
					=f.label :message
					= f.text_field :message, class: 'form-control'
				.form-group
					=f.label :credit_card_ending_in
					= f.text_field :credit_card_ending_in, class: 'form-control'
				.form-group
					=f.label :credit_card_brand
					= f.text_field :credit_card_brand, class: 'form-control'
				.form-group.text-right
					= f.submit "Create", class: 'btn btn-primary'
