
#copy_offer_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Copy Offer
			= form_for Bazaar::Offer.new( title: offer.title, code: "#{offer.code}-copy" ), url: copy_offer_admin_path( offer ) do |f|
				.modal-body
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control'
					.form-group
						= f.label :code
						= f.text_field :code, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
