
- skus = @offer.offer_skus.active.order( start_interval: :asc ).collect(&:sku).uniq
- all_items = @offer.offer_schedules.active.to_a + @offer.offer_prices.active.to_a + @offer.offer_skus.active.to_a
- max_start_interval = all_items.collect{ |item| item.start_interval + ( item.max_intervals || 0 ) }.sort.last
- max_end_interval = all_items.sort_by(&:end_interval_with_infinity).last.end_interval_with_infinity
- last_item = all_items.select{|item| item.end_interval_with_infinity == max_end_interval }.sort_by(&:start_interval).last
- last_interval = last_item.start_interval + ( last_item.end_interval_with_infinity == Float::INFINITY ? 1 : 0 )
:css
	.offer-item-header, .offer-item-sku-header  {
		padding: 8px;
		border: 1px solid #ddd;
		font-weight: bold;
		background: #fff;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.offer-item-sku-header {
		float: left;
	}
	.offer-item-column {
		height: #{(max_start_interval) * 3}em;
		position:relative;
	}
	.offer-item-column-cell {
		background: #fff;
		padding: 8px;
		border: 1px solid #ddd;
		position: absolute;
		width: 100%;
		left: 0;
	}
	.offer-item-column-cell .btn {
		display: none;
		position: absolute;
		bottom: -0.5em;
		right: 5px;
		left: 5px;
		z-index: 99;
	}
	.offer-item-column-cell:hover .btn, .offer-item-column-cell:active .btn {
		display: block;
	}
	.offer-item-sku-column-cell {
	}

.row{ style: 'margin: 0;border: 1px solid #ccc;' }
	.col-xs-12
		.row
			.col-xs-4
				.row
					.col-xs-12.offer-item-sku-header
						&nbsp;
				.row
					.col-xs-4.offer-item-header
						Orders
					.col-xs-4.offer-item-header
						Frequency
					.col-xs-4.text-right.offer-item-header
						Price
			.col-xs-8
				.row
					.col-xs-12.offer-item-sku-header
						Products
				.row
					- skus.each do |sku|
						%div.text-right.offer-item-sku-header{ style: "width: #{(100.0 / skus.count.to_f)}%;", data: { toggle: 'tooltip' }, title: sku.to_s }
							= sku.name
		.row
			.col-xs-4
				.row
					.col-xs-4.offer-item-column
						- (1..(max_start_interval-1)).each do |start_interval|
							.offer-item-column-cell{ style: "top: #{(start_interval-1) * 3}em;height: 3em" }
								= start_interval.ordinalize
						- if max_end_interval == Float::INFINITY
							.offer-item-column-cell{ style: "top: #{(max_start_interval-1) * 3}em;height: 3em" }
								#{max_start_interval.ordinalize}+
					.col-xs-4.offer-item-column
						- @offer.offer_schedules.active.each do |offer_schedule|
							.offer-item-column-cell{ style: "top: #{(offer_schedule.start_interval-1) * 3}em;height: #{offer_schedule.end_interval_with_infinity == Float::INFINITY ? (max_start_interval - offer_schedule.start_interval + 1) * 3 : offer_schedule.end_interval_with_infinity * 3}em" }
								= pluralize offer_schedule.interval_value, offer_schedule.interval_unit
								%a.btn.btn-danger.btn-xs{ href: offer_schedule_admin_path( offer_schedule ), data: { method: :delete, confirm: 'Are you sure?' } }
									%i.fa.fa-trash
					.col-xs-4.offer-item-column
						- @offer.offer_prices.active.each do |offer_price|
							.offer-item-column-cell.text-right{ style: "top: #{(offer_price.start_interval-1) * 3}em;height: #{offer_price.end_interval_with_infinity == Float::INFINITY ? (max_start_interval - offer_price.start_interval + 1) * 3 : offer_price.end_interval_with_infinity * 3}em" }
								%a{ href: edit_offer_price_admin_path( offer_price ) }
									= offer_price.price_formatted
								- if offer_price.start_interval == 1
									.btn.btn-danger.btn-xs.disabled
										%i.fa.fa-trash
								- else
									%a.btn.btn-danger.btn-xs{ href: offer_price_admin_path( offer_price ), data: { method: :delete, confirm: 'Are you sure?' } }
										%i.fa.fa-trash

			.col-xs-8.offer-item-column{ style: 'background-color: #ddd;' }
				- left = 0
				- skus.each_with_index do |sku,index|
					- @offer.offer_skus.active.where( sku: sku ).each do |offer_sku|
						.offer-item-column-cell.offer-item-sku-column-cell.text-right{ style: "width: #{(100.0 / skus.count.to_f)}%;left:#{left}%;top: #{(offer_sku.start_interval-1) * 3}em;height: #{( offer_sku.max_intervals_with_infinity == Float::INFINITY ? (max_start_interval - offer_sku.start_interval + 1) : offer_sku.max_intervals ) * 3 }em;" }
							
							%a{ href: edit_offer_sku_admin_path( offer_sku ) }
								= offer_sku.quantity
								%small ( #{offer_sku.shipping_calculation_exemptions} exemptions )
							%a.btn.btn-danger.btn-xs{ href: offer_sku_admin_path( offer_sku ), data: { method: :delete, confirm: 'Are you sure?' } }
								%i.fa.fa-trash
					- left += (100.0 / skus.count.to_f)

		.row
			.col-xs-4
				.row
					.col-xs-4.offer-item-header
						&nbsp;
					.col-xs-4.offer-item-header.text-center
						%a{ href: '#new_offer_schedule_modal', data: { toggle: :modal, target: '#new_offer_schedule_modal' } }
							%i.fa.fa-plus
							Add
					.col-xs-4.offer-item-header.text-center
						%a{ href: '#new_offer_price_modal', data: { toggle: :modal, target: '#new_offer_price_modal' } }
							%i.fa.fa-plus
							Add
			.col-xs-8.offer-item-sku-header.text-center
				%a{ href: '#new_offer_sku_modal', data: { toggle: :modal, target: '#new_offer_sku_modal' } }
					%i.fa.fa-plus
					Add
