%table.table.table-light.table-bordered{ style: 'margin:0;' }
	%thead
		%th{ style: 'width: 6em' } Intervals
		%th Price
		%th{ style: 'width: 10em' } Created At
		%th{ style: 'width: 6em' }
	- if offer_prices.active.count == 0
		%tr
			%td{ colspan: 4 }
				\- No Schedule Found -
	- offer_prices.active.order( start_interval: :asc, id: :asc ).each do |offer_price|
		%tr
			%td
				- if offer_price.end_interval.nil?
					#{offer_price.start_interval}+
				- elsif offer_price.end_interval > offer_price.start_interval
					= offer_price.start_interval
					to
					= offer_price.end_interval
				- else
					= offer_price.start_interval
			%td
				= offer_price.price_formatted
			%td
				= current_user.to_local_tz(offer_price.created_at).to_s( :short )
			%td.text-right
				%a.btn.btn-danger.btn-xs{ href: offer_price_admin_path( offer_price ), data: { method: :delete, confirm: 'Are you sure?' } }
					%i.fa.fa-trash
