
%table.table.table-light.table-bordered{ style: 'margin:0;' }
	%thead
		%th{ style: 'width: 6em' } Orders
		%th SKU 
		%th{ style: 'width: 6em' }
	- if offer_skus.active.count == 0
		%tr
			%td{ colspan: 7 }
				\- No SKUs Found -
	- offer_skus.active.includes(:sku).order( start_interval: :asc, id: :asc ).each do |offer_sku|
		%tr
			%td
				- if offer_sku.max_intervals.nil?
					#{offer_sku.start_interval}+
				- elsif offer_sku.start_interval == offer_sku.end_interval
					= offer_sku.start_interval
				- else
					= offer_sku.start_interval
					to
					= offer_sku.end_interval
			%td
				%a{ href: bazaar.edit_sku_admin_path( offer_sku.sku ) }
					= offer_sku.sku.to_s
				x #{offer_sku.quantity}
			%td.text-right
				%a.btn.btn-danger.btn-xs{ href: offer_sku_admin_path( offer_sku ), data: { method: :delete, confirm: 'Are you sure?' } }
					%i.fa.fa-trash
