
%table.table.table-light.table-bordered{ style: 'margin:0;' }
	%thead
		%th Upsell Offer
		%th Full Price Offer
		%th Type
		%th{ style: 'width: 6em' }
	- if upsell_offers.count == 0
		%tr
			%td{ colspan: 4 }
				\- No Offers Found -
	- upsell_offers.joins(:upsell).merge(Bazaar::Upsell.joins(:offer)).order( Arel.sql('bazaar_offers.title asc') ).each do |upsell_offer|
		%tr
			%td
				- if upsell_offer.offer
					%a{ href: bazaar.edit_offer_admin_path( upsell_offer.offer.id ) }
						= upsell_offer.offer.title
					( #{ upsell_offer.offer.initial_price_formatted } )
				- else
					\-
			%td
				- if upsell_offer.full_price_offer
					%a{ href: bazaar.edit_offer_admin_path( upsell_offer.full_price_offer.id ) }
						= upsell_offer.full_price_offer.title
					( #{ upsell_offer.full_price_offer.initial_price_formatted } )
				- else
					\-
			%td
				= upsell_offer.upsell_type.titleize
			%td.text-right
				%a.btn.btn-primary.btn-xs{ href: edit_upsell_admin_path( upsell_offer.upsell ) }
					Edit
				%a.btn.btn-danger.btn-xs{ href: upsell_offer_admin_path( upsell_offer ), data: { method: :delete, confirm: 'Are you sure?' } }
					%i.fa.fa-trash
