


.container-fluid
	.row
		.col-xs-10
			%h2 Offers
		.col-xs-2.text-right
			- if authorized?(BazaarCore::Offer, controller: BazaarAdmin::OfferAdminController, action: :create )
				%a.btn.btn-success{ data: { toggle: :modal, target: '#new_offer' } }
					%i.fa.fa-plus-square
					New
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @offers
			= "(#{pluralize @offers.total_count, 'Offer'})"
		.col-xs-6
			= form_tag offer_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( BazaarCore::Offer.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', offer_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
					%th
						Title
						%a{ href: offer_admin_index_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: offer_admin_index_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th
						Created At
						%a{ href: offer_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: offer_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
				%tbody
					- @offers.each do |offer|
						%tr
							%td
								- if offer.avatar
									= image_tag offer.avatar, width: 50, class: 'img img-rounded'
							%td
								= link_to offer.title, edit_offer_admin_path( offer.id )
							%td
								= offer.status
							%td
								= current_user.to_local_tz(offer.created_at).to_s( :short )
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_offer_admin_path( offer.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: offer_admin_path( offer ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!


= render 'new_modal'
