


.container-fluid
	.row
		.col-xs-10
			%h2 Discounts
		.col-xs-2
			- if policy(SwellEcom::Discount).admin_create?
				%a.btn.btn-success{ data: { toggle: :modal, target: '#new_discount_modal' } }
					%i.fa.fa-plus-square
					New
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @discounts
		.col-xs-6
			= form_tag discount_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellEcom::Discount.statuses, :first, :first, params[:status] ), { prompt: "Status", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', discount_admin_index_path, class: 'btn btn-default'


	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
						Title
						%a{ href: discount_admin_index_path( sort_by: 'title', sort_dir: 'asc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-up
						%a{ href: discount_admin_index_path( sort_by: 'title', sort_dir: 'desc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-down
					%th
						Type
					%th
						Start At
						%a{ href: discount_admin_index_path( sort_by: 'start_at', sort_dir: 'asc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-up
						%a{ href: discount_admin_index_path( sort_by: 'start_at', sort_dir: 'desc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-down
					%th
						End At
						%a{ href: discount_admin_index_path( sort_by: 'end_at', sort_dir: 'asc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-up
						%a{ href: discount_admin_index_path( sort_by: 'end_at', sort_dir: 'desc', q: params[:q], status: params[:status] ) }
							%i.fa.fa-arrow-down
					%th
						Amount
					%th
						Redemptions
					%th Status
					%th{ style: 'width: 6em' }
				%tbody
					- if @discounts.blank?
						%tr
							%td{ colspan: 7 }
								\- No Discounts Found -
					- @discounts.each do |discount|
						%tr
							%td
								= link_to discount.to_s, edit_discount_admin_path( discount.id )
							%td
								= discount.class.name.demodulize.titleize
							%td
								- if discount.start_at.present?
									= current_user.to_local_tz(discount.start_at).to_s( :short )
							%td
								- if discount.end_at.present?
									= current_user.to_local_tz(discount.end_at).to_s( :short )
								- else
									\-
							%td
								- if discount.first_discount_item.present?
									- if discount.first_discount_item.percent?
										#{discount.first_discount_item.discount_amount}%
									- else
										#{discount.first_discount_item.discount_amount_formatted}
							%td
								= SwellEcom::OrderItem.where( item: discount ).count
							%td
								.badge{ class: discount.status }
									= discount.status
							%td
								- if policy(discount).admin_edit? || policy(discount).admin_destroy?
									.btn-group
										%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
											%i.fa.fa-cog
											%b.caret
										%ul.dropdown-menu
											- if policy(discount).admin_edit?
												%li
													%a{ href: edit_discount_admin_path( discount.id ) }
														%i.fa.fa-pencil
														Edit
												%li.divider
											- if policy(discount).admin_destroy?
												%li
													%a{ href: discount_admin_path( discount ), data: { method: 'delete', confirm: 'Are you sure?' } }
														%i.fa.fa-trash-o
														Delete!


= render "new_modal"
