

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: subscription_plan_admin_index_path }
						%i.fa.fa-angle-left
						Plans
			%h2
				%strong= @plan.title
				%small= current_user.to_local_tz(@plan.created_at).to_s( :short )

		.col-xs-2


	= form_for @plan, url: subscription_plan_admin_path( @plan ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

			.col-xs-4
				.well.white-well
					%h4
						Subscription Settings

					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::SubscriptionPlan.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.label :offer_id
						= f.collection_select :offer_id, Bazaar::Offer.active.order( :title ), :id, :title, { include_blank: '-- None -- ' }, class: 'form-control'
						- if @plan.offer
							%a{ href: bazaar.edit_offer_admin_path( id: @plan.offer.id ) }
								= @plan.offer.title

					- if @plan.respond_to? :tags
						.form-group
							= f.label :tags_csv, 'Tags:'
							= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'


= render 'bazaar/offer_sku_admin/new_modal', parent_obj: @plan.offer, args: {}
-# = render 'new_gallery_attachment', args: {}
