#new_src_offer_upsell_offer_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Upsell Offer
			= form_for Bazaar::UpsellOffer.new( args ), url: bazaar.upsell_offer_admin_index_path do |f|
				= f.hidden_field :status, value: 'active'
				.modal-body
					- if f.object.src_offer_id.blank?
						.form-group
							= f.label :src_offer_id, "Offer"
							%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The offer you want this upsell to be served by.' }
							= f.collection_select :src_offer_id, Bazaar::Offer.active.order( title: :asc ), :id, :title, { include_blank: true }, class: 'form-control select-2-ajax', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: {}, format: 'json' ) }, required: true, style: 'width: 100%;'
					- else
						= f.hidden_field :src_offer_id


					.form-group
						= f.label :upsell_type
						= f.collection_select :upsell_type, Bazaar::UpsellOffer.upsell_types, :first, humanize_first, {}, class: 'form-control'
					- if f.object.upsell.blank?
						.form-group
							= f.label :upsell_id, "Upsell"
							%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The offer you want to be made as an upsell.' }
							= f.collection_select :upsell_id, Bazaar::Upsell.active.order( title: :asc ), :id, :to_s, {}, class: 'form-control'
					- else
						= f.hidden_field :upsell_id
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
