

.container-fluid
	.row
		.col-xs-10
			-# %ul.breadcrumb
				%li
					%a{ href: edit_offer_admin_path( @upsell_offer.src_offer ) }
						%i.fa.fa-angle-left
						#{@upsell_offer.src_offer.title}
			%h2
				%strong= @upsell_offer.offer.title
				%small= current_user.to_local_tz(@upsell_offer.created_at).to_s( :short )

		.col-xs-2


	= form_for @upsell_offer, url: bazaar.upsell_offer_admin_path( @upsell_offer ) do |f|
		.row
			.col-xs-8
				- if f.object.src_offer
					.form-group
						%label Source Offer
						%div=f.object.src_offer.title
				- if f.object.src_product
					.form-group
						%label Source Product
						%div=f.object.src_product.title
				.form-group
					= f.label :title
					= f.text_field :title, class: 'form-control'
				.form-group
					= f.label :description
					= f.text_field :description, class: 'form-control'
				.form-group
					= f.label :savings
					= f.text_field :savings, class: 'form-control'
				.form-group
					= f.label :full_price
					= f.text_field :full_price, class: 'form-control'
				.form-group
					= f.label :image_url
					= f.text_field :image_url, class: 'form-control'
				.form-group
					= f.label :upsell_type
					= f.collection_select :upsell_type, Bazaar::UpsellOffer.upsell_types, :first, humanize_first, {}, class: 'form-control'
				.form-group
					= f.label :full_price_offer_id, "Full Price Offer"
					%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The full price equivalent offer, which can be used to calculate the amount of saving the upsell offer provides.' }
					= f.collection_select :full_price_offer_id, Bazaar::Offer.active.order( title: :asc ), :id, :title, {}, class: 'form-control'
				.form-group
					= f.label :offer_id, "Upsell Offer"
					%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The offer you want to be made as an upsell.' }
					= f.collection_select :offer_id, Bazaar::Offer.active.order( title: :asc ), :id, :title, {}, class: 'form-control'

				.form-group
					= f.submit 'Update', class: 'btn btn-primary'
