#new_discount_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Discount
			= form_for Bazaar::Discount.new, url: bazaar.discount_admin_index_path do |f|
				.modal-body
					.form-group
						= f.label :title
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'A descriptive title for internal use.' }
						= f.text_field :title, class: 'form-control'
					.form-group
						= f.label :description
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'Notes and details regarding the nature of this discount, who uses it and why it was created.  For internal use.' }
						= f.text_area :description, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
