
-# .form-group
	%input.select-modal-input{ type: 'text', name: 'discount_label', id: 'test_discount_id', data: { target: '#discount_select_modal', toggle: 'modal', label: 'Baa', filters: { status: 'active' }.to_json } }

#discount_select_modal.select-modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Select Discount

			.modal-body{style: 'padding-bottom: 0'}
				= form_tag bazaar.discount_admin_index_path, remote: true, method: 'get' do |f|
					.filters
					.form-group
						.input-group
							= text_field_tag :q, '', class: 'form-control'
							.input-group-btn
								= submit_tag 'Search', class: 'btn btn-primary'

			.modal-body{style: 'padding-top: 0'}
				.form-group.results

			.modal-footer
				%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
					Close
				= submit_tag 'Choose', class: 'btn btn-primary choose'
				.pull-left
					= submit_tag 'Clear', class: 'btn btn-secondary clear'

