

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: discount_admin_index_path }
						%i.fa.fa-angle-left
						Discounts
			%h2{ style: 'margin-bottom: 0;' }
				%strong= @discount.title
				%small= current_user.to_local_tz(@discount.created_at).to_s( :short )
			%div
				= @discount.class.name.demodulize.titleize
		.col-xs-2


	= form_for @discount, url: discount_admin_path( @discount ), as: :discount do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content

					.form-group
						= f.label :title
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'A descriptive title for internal use.' }
						= f.text_field :title, class: 'form-control input-lg'

					- if @discount.is_a? Bazaar::CouponDiscount
						.form-group
							= f.label :code
							%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The value customers enter into the coupon field at checkout to have this discount applied to their order.  Codes are case insensitive, meaning that capitalization of characters does not make it distinct in the eyes of the system.' }
							= f.text_field :code, class: 'form-control', style: 'text-transform: lowercase;'


					.form-group
						= f.label :description
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'Notes and details regarding the nature of this discount, who uses it and why it was created.  For internal use.' }
						= f.text_area :description, class: 'form-control'
				.row
					.col-xs-12.col-md-6
						.well.white-well
							.form-group
								%h4 Order Requirements

							.form-group
								= f.label :minimum_prod_subtotal, "Minimum Subtotal Amount"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The minimum subtotal amount (sum of quantity x price) required for this discount to be applied to an order.' }
								= f.number_field :minimum_prod_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01

							.form-group
								= f.label :minimum_shipping_subtotal, "Minimum Shipping Amount"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The minimum shipping amount required for this discount to be applied to an order.' }
								= f.number_field :minimum_shipping_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01

							.form-group
								= f.label :maximum_units_per_customer, "Maximum Units Allowed Per Customer"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maxium number of offer units that this discount can be applied to, on a per customer basis.  If the quantity they are purchasing is more than the remaining allotment available to them, the discount will be applied to only the quantity of items remaining (the most expensive first)' }
								= f.number_field :maximum_units_per_customer, class: 'form-control', min: 1, step: 1

							.form-group
								= f.label :min_subscription_interval, "Minimum Qualifying Subscription Interval"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The minimum interval that qualifies for this discount.' }
								= f.number_field :min_subscription_interval, class: 'form-control', min: 1, step: 1

							.form-group
								= f.label :max_subscription_interval, "Maximum Qualifying Subscription Interval"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum interval that qualifies for this discount.' }
								= f.number_field :max_subscription_interval, class: 'form-control', min: 1, step: 1

							-# .form-group
								= f.label :minimum_tax_subtotal, "Minimum Taxes"
								= f.number_field :minimum_tax_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01
					.col-xs-12.col-md-6
						.well.white-well
							.form-group
								%h4 Limits
							.form-group
								= f.label :limit_per_customer, "Maximum Uses Per Customer"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times a single customer can use this discount.' }
								= f.number_field :limit_per_customer, class: 'form-control', min: 0, step: 1

							.form-group
								= f.label :limit_global, "Maximum Uses by Anyone"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times anyone can use this discount.' }
								= f.number_field :limit_global, class: 'form-control', min: 0, step: 1
				.row
					= f.fields_for :discount_items, @discount.discount_items do |di_form|
						.col-xs-12.col-md-6
							.well.white-well
								.form-group
									%h4 Discount

								.form-group
									= di_form.label :order_item_type, "Applies To"
									= di_form.collection_select :order_item_type, Bazaar::DiscountItem.order_item_types.keys.select{|key| key.to_sym != :discount}.collect{|key| [({ prod: "Products", all_order_item_types: "Order Total" }[key.to_sym] || key).humanize.titleize,key] }, :last, :first, {}, class: 'form-control'

								.form-group
									= di_form.label :applies_to_polymorphic_id, "Offer Limitations"
									= di_form.select :applies_to_polymorphic_id, grouped_options_for_select( [ ['Collections', Bazaar::Collection.active.order( title: :asc ).collect{|c| [c.title,c.polymorphic_id] }], ['Offers', Bazaar::Offer.active.order( title: :asc ).collect{|o| [o.title,o.polymorphic_id] }] ], di_form.object.applies_to_polymorphic_id, { prompt: 'None' } ), {}, class: 'form-control'

								.form-group
									= di_form.label :discount_amount, "Discount Amount"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'Either a percent or dollar amount, depending upon the selected calculation method.' }
									- if di_form.object.percent?
										= di_form.number_field :discount_amount_as_money, value: di_form.object.discount_amount, class: 'form-control', min: 0.01, step: 0.01
									- else
										= di_form.number_field :discount_amount_as_money, class: 'form-control', min: 0.01, step: 0.01

								.form-group
									= di_form.label :discount_type, "Discount Calculation Method"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The various methods for calculating discounts.<br/><strong>Percent</strong> - calculate based on the specified percent of selected amount.<br/><strong>Fixed</strong> - a fixed amount per order.<br/><strong>Fixed Each</strong> - a fixed amount per unit.' }
									= di_form.collection_select :discount_type, Bazaar::DiscountItem.discount_types.collect{|key,value| [key.humanize.titleize,key] }, :last, :first, {}, class: 'form-control'

								.form-group
									= di_form.label :maximum_orders, "Maximum Uses Per Subscription"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times each subscription can use this discount.' }
									= di_form.number_field :maximum_orders, class: 'form-control', min: 1, step: 1

			.col-xs-4
				.well.white-well
					%h4
						Publishing Settings
					.form-group
						= f.label :start_at
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'If the discount status is set to active, the "Start At" value indicates the time after which this discount will be avaible.' }
						= f.text_field :start_at, value: current_user.to_local_tz( @discount.start_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :end_at
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'If the discount status is set to active, the "End At" value indicates the time at which point the discount will no longer be avaible.  A blank value indicates that there is no end point.' }
						= f.text_field :end_at, value: current_user.to_local_tz( @discount.end_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :status
						%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'An <strong>active</strong> status means the discount is now available for use, as long as the current date is between the start and end dates.<br/><strong>Draft</strong> indicates that the discount is not yet ready for use.<br/><strong>Archived</strong> indicates the discount is not for use and will not be discoverable by default.' }
						= f.collection_select :status, Bazaar::Discount.statuses, :first, :first, {}, class: 'form-control'


					- if @discount.is_a? Bazaar::PromotionDiscount
						.form-group
							.alert.alert-danger
								%strong WARNING:
								This is a
								%u Promotional Discount,
								activating it will impact
								%strong ALL
								qualifying purchases.  No discount codes required.

							.alert.alert-warning
								%strong Notice:
								Promotions stack with other discounts.


					- if @discount.user.present?
						.form-group
							%label Owner
							%div
								%a{ href: swell_id.edit_user_admin_path( @discount.user ) }
									= @discount.user.full_name

					%hr

					%h4
						Stats

					.form-group
						.pull-right=Bazaar::OrderItem.where( item: @discount ).count
						%label # Uses

					%hr

						= f.submit 'Update', class: 'btn btn-primary'
