

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: discount_admin_index_path }
						%i.fa.fa-angle-left
						Discounts
			%h2
				%strong= @discount.title
				%small= current_user.to_local_tz(@discount.created_at).to_s( :short )

		.col-xs-2


	= form_for @discount, url: discount_admin_path( @discount ), as: :discount do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content

					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

					.form-group
						= f.label :code
						= f.text_field :code, class: 'form-control', style: 'text-transform: lowercase;'


					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control'
				.row
					.col-xs-12.col-md-6
						.well.white-well
							.form-group
								%h4 Order Requirements

							.form-group
								= f.label :minimum_prod_subtotal, "Minimum Subtotal Amount"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The minimum subtotal amount (sum of quantity x price) required for this discount to be applied to an order.' }
								= f.number_field :minimum_prod_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01

							.form-group
								= f.label :minimum_shipping_subtotal, "Minimum Shipping Amount"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The minimum shipping amount required for this discount to be applied to an order.' }
								= f.number_field :minimum_shipping_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01

							-# .form-group
								= f.label :minimum_tax_subtotal, "Minimum Taxes"
								= f.number_field :minimum_tax_subtotal_as_money, class: 'form-control', min: 0.00, step: 0.01
					.col-xs-12.col-md-6
						.well.white-well
							.form-group
								%h4 Limits
							.form-group
								= f.label :limit_per_customer, "Maximum Uses Per Customer"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times a single customer can use this discount.' }
								= f.number_field :limit_per_customer, class: 'form-control', min: 0, step: 1

							.form-group
								= f.label :limit_global, "Maximum Uses by Anyone"
								%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times anyone can use this discount.' }
								= f.number_field :limit_global, class: 'form-control', min: 0, step: 1
				.row
					= f.fields_for :discount_items, @discount.first_discount_item do |di_form|
						.col-xs-12.col-md-6
							.well.white-well
								.form-group
									%h4 Discount

								.form-group
									= di_form.label :order_item_type, "Applies To"
									= di_form.collection_select :order_item_type, Bazaar::DiscountItem.order_item_types.keys.select{|key| key.to_sym != :discount}.collect{|key| [({ prod: "Products", all_order_item_types: "Everything" }[key.to_sym] || key).humanize.titleize,key] }, :last, :first, {}, class: 'form-control'

								.form-group
									= di_form.label :discount_amount, "Discount Amount"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'Either a percent or dollar amount, depending upon the selected calculation method.' }
									- if di_form.object.percent?
										= di_form.number_field :discount_amount_as_money, value: di_form.object.discount_amount, class: 'form-control', min: 0.01, step: 0.01
									- else
										= di_form.number_field :discount_amount_as_money, class: 'form-control', min: 0.01, step: 0.01

								.form-group
									= di_form.label :discount_type, "Discount Calculation Method"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The various methods for calculating discounts.<br/><strong>Percent</strong> - calculate based on the specified percent of selected amount.<br/><strong>Fixed</strong> - a fixed amount per order.<br/><strong>Fixed Each</strong> - a fixed amount per unit.' }
									= di_form.collection_select :discount_type, Bazaar::DiscountItem.discount_types.collect{|key,value| [key.humanize.titleize,key] }, :last, :first, {}, class: 'form-control'

								.form-group
									= di_form.label :maximum_orders, "Maximum Uses Per Subscription"
									%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The maximum number of times each subscription can use this discount.' }
									= di_form.number_field :maximum_orders, class: 'form-control', min: 1, step: 1

			.col-xs-4
				.well.white-well
					%h4
						Publishing Settings
					.form-group
						= f.label :start_at
						= f.text_field :start_at, value: current_user.to_local_tz( @discount.start_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :end_at
						= f.text_field :end_at, value: current_user.to_local_tz( @discount.end_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Discount.statuses, :first, :first, {}, class: 'form-control'

					- if @discount.user.present?
						.form-group
							%label Owner
							%div
								%a{ href: swell_id.edit_user_admin_path( @discount.user ) }
									= @discount.user.full_name

					%hr

					%h4
						Stats

					.form-group
						.pull-right=Bazaar::OrderItem.where( item: @discount ).count
						%label # Uses

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
