


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					%strong
						Product Admin

		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_product' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-6
			= raw paginate @products
		.col-xs-6
			= form_tag product_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellEcom::Product.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', product_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th
						Title
						%a{ href: product_admin_index_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: product_admin_index_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Price
						%a{ href: product_admin_index_path( sort_by: 'price', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: product_admin_index_path( sort_by: 'price', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Publish
						%a{ href: product_admin_index_path( sort_by: 'publish_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: product_admin_index_path( sort_by: 'publish_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th Tags
					%th
				%tbody
					- @products.each do |product|
						%tr
							%td
								= image_tag product.avatar, width: 50, class: 'img img-rounded'
							%td
								= link_to product.title, edit_product_admin_path( product.id )
							%td
								= number_to_currency product.price / 100
							%td
								= product.publish_at
							%td
								- if product.published?
									.badge{ class: product.status }
										Live
								- elsif product.draft?
									.badge{ class: product.status }
										Draft
								- elsif product.active?
									.badge{ class: 'pending' }
										Pending
								- else
									.badge{ class: product.status }
										= product.status
							%td
								= product.tags.join(', ')
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_product_admin_path( product.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: product_admin_path( product ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!


= render 'new_modal'