#new_warehouse_sku_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Country
			= form_for @warehouse.warehouse_skus.new( quantity: 0, status: 'active' ), url: bazaar.warehouse_sku_admin_index_path do |f|
				= f.hidden_field :warehouse_id
				.modal-body
					.form-group
						= f.label :sku_id, 'Sku'
						= f.collection_select :sku_id, Bazaar::Sku.active.where.not( id: @warehouse.warehouse_skus.select(:sku_id) ).order(code: :asc), :id, :code, {}, class: 'form-control'
					.form-group
						= f.label :quantity, 'Starting Quantity'
						= f.number_field :quantity, class: 'form-control', min: 0, step: 1
					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::WarehouseSku.statuses, :first, :first, {}, class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Submit', class: 'btn btn-primary'
