= f.fields_for :billing_address do |billing_address_form|
	%h5{ style: 'border-bottom: 1px solid #222;margin-top: 1.5em;font-weight: bold;' } Billing Information

	.form-group
		%label
			%span First Name
		= billing_address_form.text_field :first_name, class: 'form-control', required: true
		.help-block.with-errors

	.form-group
		%label
			%span Last Name
		= billing_address_form.text_field :last_name, class: 'form-control', required: true
		.help-block.with-errors

	%span.geo-address-country-state-group{ data: { address_attribute: :billing_address } }
		.form-group
			%label
				%span Country
			= render 'bazaar/geo_address/country_input', f: billing_address_form, countries: get_billing_countries, args: {}
			.help-block.with-errors


		.form-group
			%label
				%span State
			= render 'bazaar/geo_address/state_input', f: billing_address_form, states: get_billing_states( @subscription.billing_address.geo_country_id ), args: {}
			.help-block.with-errors
	.form-group
		%label
			%span Address Line 1
		= billing_address_form.text_field :street, class: 'form-control', required: true
		.help-block.with-errors

	.form-group
		%label
			%span Address Line 2
			%small (optional)
		= billing_address_form.text_field :street2, class: 'form-control'
		.help-block.with-errors

	.form-group
		%label
			%span City
		= billing_address_form.text_field :city, class: 'form-control', required: true
		.help-block.with-errors

	.form-group
		%label
			%span Zip
		= billing_address_form.text_field :zip, class: 'form-control', "data-stripe" => "address_zip", required: true
		.help-block.with-errors

	.form-group
		%label
			%span Phone Number
		= billing_address_form.telephone_field :phone, class: 'form-control telephone_formatted', required: true
		.help-block.with-errors

	.payment-errors.alert.alert-danger.hide

	.card-form-group
		.card-preview.show
		.form-group
			%label
				%span Card Number
			= text_field_tag 'credit_card[card_number]', '', class: 'card-number form-control', size: 20, :autocomplete => "cc-number", required: true, data: { cardnumber: true }
			.help-block.with-errors

		.row
			.col-xs-12.col-md-6
				.form-group
					%label
						%span Expiration (MM/YY)
					= text_field_tag 'credit_card[expiration]', '', class: 'expiry form-control', :size => "9", :autocomplete => "cc-exp", required: true, data: { cardexpiry: true }
					.help-block.with-errors
			.col-xs-12.col-md-6
				.form-group
					%label
						%span CVC
					= text_field_tag 'credit_card[card_code]', '', class: 'cvc form-control', :size => "4", :autocomplete => "off", required: true, data: { cardcvc: true }
					.help-block.with-errors
