

.well
	.form-group
		= f.label :internal_title
		= f.text_field :internal_title, class: 'form-control', required: true
	.form-group
		= f.label :internal_description
		= f.text_area :internal_description, class: 'form-control', required: false

	.row
		.col-xs-12.col-lg-6
			.form-group
				= f.label :tags_csv, 'Tags'
				= f.text_field :tags_csv, class: 'form-control'
		-# .col-xs-12.col-lg-6
			.form-group
				= f.label :upsell_type
				= f.collection_select :upsell_type, Bazaar::UpsellOffer.upsell_types, :first, humanize_first, { include_blank: true }, class: 'form-control'


.form-group
	= f.label :title
	= f.text_field :title, class: 'form-control', required: true
.form-group
	= f.label :description
	= f.text_area :description, class: 'form-control', required: true
.row
	.col-xs-12.col-lg-4
		.form-group
			= f.label :status
			= f.select :status, Bazaar::Upsell.statuses.keys, {}, { prompt: "Status", class: 'form-control' }

.form-group
	= f.label :offer_id, "Upsell Offer"
	%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The offer you want to be made as an upsell.' }
	= f.collection_select :offer_id, Bazaar::Offer.active.order( title: :asc ), :id, :title, { include_blank: true }, class: 'form-control select-2-ajax', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: {}, format: 'json' ) }, required: true

.row
	.col-xs-12.col-lg-4
		.form-group
			= f.label :savings
			= f.text_field :savings, class: 'form-control'
	.col-xs-12.col-lg-4
		.form-group
			= f.label :full_price
			= f.text_field :full_price, class: 'form-control'

.row
	.col-xs-12.col-lg-8

		.form-group
			= f.label :image_attachment, "Image"
			%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The image used in the upsell.' }
			= f.file_field :image_attachment
		-# .form-group
			= f.label :image_url
			= f.text_field :image_url, class: 'form-control', required: true
	.col-xs-12.col-lg-4.text-center
		- if f.object.image_url.present?
			%img.img.img-fluid.img-relative{ src: f.object.image_url, style: 'width: 75%' }
.form-group
	= f.label :supplemental_disclaimer
	= f.text_area :supplemental_disclaimer, class: 'form-control'
.form-group
	= f.label :full_price_offer_id, "Full Price Offer"
	%i.fa.fa-question-circle{ data: { toggle: 'tooltip' }, title: 'The full price equivalent offer, which can be used to calculate the amount of saving the upsell offer provides.' }
	= f.collection_select :full_price_offer_id, Bazaar::Offer.active.order( title: :asc ), :id, :title, { include_blank: true  }, class: 'form-control select-2-ajax', data: { url: bazaar.offer_admin_index_path( status: 'active', filters: {}, format: 'json' ) }
