#new_warehouse_country_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Country
			= form_for @warehouse.warehouse_countries.new, url: bazaar_admin.warehouse_country_admin_index_path do |f|
				= f.hidden_field :warehouse_id
				.modal-body
					.form-group
						= f.label :geo_country_id, 'Country'
						= f.collection_select :geo_country_id, GeoCountry.all.order(name: :asc), :id, :name, {}, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Submit', class: 'btn btn-primary'
