%table.table.table-light.table-bordered{ style: 'margin: 0' }
  %thead
    %tr
      %th Product
      %th{ style: 'width: 80px' } Price
      %th.text-right{ style: 'width: 70px' } Quantity
      %th.text-right{ style: 'width: 100px' } Subtotal
  %tbody#prod_order_offers
    - order.order_offers.each do |order_offer|
      = render 'bazaar_admin/order_offer_admin/edit_row', f: f, order_offer: order_offer, args: {}
  %tbody
    %tr
      %td{ colspan: 4 }
        %a{ href: '#', data: { toggle: :modal, target: '#new_order_offer_modal' } } add offer

    %tr
      %td
      %td
      %td
        Subtotal
      %td.text-right
        %strong{ data: { for: 'order.subtotal_formatted' } }
          = order.subtotal_formatted

  %tbody#discount_order_items
    - order.order_items.discount.each do |order_item|
      = render 'bazaar_admin/order_item_admin/edit_row', f: f, order_item: order_item, args: {}
  %tbody
    %tr
      %td{ colspan: 4 }
        %a{ href: '#', data: { toggle: :modal, target: '#new_discount_order_item_modal' } } add discount
    %tr
      %td
      %td
      %td
        Discount
        - order.order_items.discount.each do |order_item|
          - if ( order_item.item.code || order_item.item.title ).present?
            %div
              %a{ href: bazaar_admin.edit_discount_admin_path( order_item.item ) }=( order_item.item.code || order_item.item.title )

      %td.text-right
        %strong{ data: { for: 'order.discount_formatted' } }
          = order.discount_formatted

    %tr
      %td
      %td
      %td
        Tax
      %td.text-right
        %strong{ data: { for: 'order.tax_formatted' } }
          = order.tax_formatted
    %tr
      %td
      %td
      %td
        Shipping
      %td.text-right
        %strong{ data: { for: 'order.shipping_formatted' } }
          = order.shipping_formatted
    %tr
      %td
      %td
      %td
        %h5{ style: 'font-weight:bold;' }
          Total
      %td.text-right
        %h5{ style: 'font-weight:bold;', data: { for: 'order.total_formatted' } }
          = order.total_formatted
