%tr
	%td
		= link_to order.code, bazaar_admin.order_admin_path( order.id )
	%td
		= order.created_at.to_s( :short )
	- if args[:customer] != false
		%td
			%a{ href: bazaar_admin.order_admin_path( order.id ) }
				- if order.user.present? && order.user.full_name.try(:strip).present?
					= order.user.full_name
				- elsif order.billing_user_address.try(:full_name).try(:strip).present?
					= order.billing_user_address.full_name
				%br
				= (order.email || order.user.try(:email) || 'N/A')
	%td
		= order.order_offers.collect{|order_offer| "#{order_offer.title} x #{order_offer.quantity}"}.join(',')
	%td
		.badge.order_status{ class: order.status, style: 'margin-bottom: 5px;' }
			- if order.pre_order? || order.draft?
				%span.fa.fa-circle-o
			= order.status.gsub(/_/,' ')
		.badge.order_payment_status{ class: order.payment_status, style: 'margin-bottom: 5px;' }
			- if order.invoice?
				%span.fa.fa-circle-o
			= order.payment_status.gsub(/_/,' ')
		- order.shipments.each do |shipment|
			.badge.order_fulfillment_status{ class: shipment.status, style: 'margin-bottom: 5px;' }
				= shipment.status.gsub(/_/,' ')

	%td
		= number_to_currency ( order.total || 0 ) / 100.to_f
	- if args[:controls]
		%td
			- if authorized?(order, controller: BazaarAdmin::OrderAdminController, action: :edit ) || authorized?(order, controller: BazaarAdmin::OrderAdminController, action: :destroy )
				.btn-group
					%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
						%i.fa.fa-cog
						%b.caret
					%ul.dropdown-menu
						- if authorized?(order, controller: BazaarAdmin::OrderAdminController, action: :edit )
							%li
								%a{ href: bazaar_admin.order_admin_path( order.id ) }
									%i.fa.fa-pencil
									Edit
							%li.divider

						- if authorized?(order, controller: BazaarAdmin::OrderAdminController, action: :destroy )
							%li
								%a{ href: bazaar_admin.order_admin_path( order ), data: { method: 'delete', confirm: 'Are you sure?' } }
									%i.fa.fa-trash-o
									Delete!
