.well
	.row
		.col-xs-3
			ORDER PLACED
			%div= current_user.to_local_tz(order.created_at).to_s( :basic_short )
		.col-xs-2
			TOTAL
			%div= number_to_currency order.total / 100.0
		.col-xs-3
			SHIP TO
			%div= order.shipping_address.full_name
		.col-xs-4.text-right
			ORDER # #{order.code}
			%div
				%a{ href: swell_ecom.your_order_path( order.code ) } Order Details
	%div{ style: 'padding: 20px;margin: 10px -20px -20px -20px;background: #fff;' }
		- order.order_items.prod.each do |order_item|
			= render 'swell_ecom/your_orders/order_item', order_item: order_item, args: {}
