.container
	.row
		.col-xs-12
			%a{ href: swell_ecom.your_account_index_path() } My Account
			>
			%a{ href: swell_ecom.your_orders_path() } My Orders
			> Order Details
			%h2 Order Details
			%p
				Ordered on #{current_user.to_local_tz(@order.created_at).to_s( :basic_short )}
				%span.horizontal-separator="|"
				Order# #{@order.code}
	.row
		.col-xs-12.col-md-10
			.well{ style: 'background: #fff' }
				.row
					.col-xs-12.col-md-3
						%h5{ style: 'margin-bottom: 0.2em;' } Shipping Address
						= raw @order.shipping_address.to_html
					.col-xs-12.col-md-6
						%h5{ style: 'margin-bottom: 0.2em;' } Payment Method
						- if ( transaction = @order.transactions.approved.charge.first).present? && transaction.properties['credit_card_brand'].present?
							#{transaction.properties['credit_card_brand'].upcase} **** #{transaction.properties['credit_card_ending_in']}
					.col-xs-12.col-md-3
						%h5{ style: 'margin-bottom: 0.2em;' } Order Summary
						.row
							.col-xs-8 Item(s) Subtotal
							.col-xs-4.text-right= number_to_currency @order.order_items.prod.sum(:subtotal) / 100.0
						.row
							.col-xs-8 Shipping & Handling
							.col-xs-4.text-right= number_to_currency @order.order_items.shipping.sum(:subtotal) / 100.0

						.row{ style: 'margin-top: 0.5em;' }
							.col-xs-8 Total before tax
							.col-xs-4.text-right= number_to_currency (@order.order_items.prod.sum(:subtotal) + @order.order_items.shipping.sum(:subtotal)) / 100.0
						.row
							.col-xs-8 Estimated tax to be collected
							.col-xs-4.text-right= number_to_currency @order.order_items.tax.sum(:subtotal) / 100.0

						.row{ style: 'margin-top: 0.5em;' }
							.col-xs-8.bold Grand Total
							.col-xs-4.text-right= number_to_currency @order.total / 100.0
						- if ( negative_transactions = @order.transactions.approved.negative ).present?
							.row{ style: 'margin-top: 0.5em;' }
								.col-xs-8 Refunds
								.col-xs-4.text-right= number_to_currency -negative_transactions.sum(:amount) / 100.0

							.row{ style: 'margin-top: 0.5em;' }
								.col-xs-8.bold Net Total
								.col-xs-4.text-right= number_to_currency (@order.total-negative_transactions.sum(:amount)) / 100.0

				%hr
				%h5{ style: 'margin-bottom: 0.2em;' } Transactions
				%table.table
					%thead
						%tr
							%th Amount
							%th Payment Method
							%th Status
					%tbody
						- @order.transactions.each do |transaction|
							%tr{ style: ( transaction.declined? ? 'color: #aaa;' : '' ) }
								%td
									- if transaction.negative?
										= number_to_currency -transaction.amount / 100.0
									- else
										= number_to_currency transaction.amount / 100.0
								%td
									- if transaction.properties['credit_card_brand'].present?
										#{transaction.properties['credit_card_brand'].upcase} **** #{transaction.properties['credit_card_ending_in']}
								%td
									= transaction.status

				%div{ style: 'margin-top: 0.5em;' }
					Total: #{number_to_currency @order.transactions.approved.sum(:amount) / 100.0}



	.row
		.col-xs-12.col-md-10
			.well
				%h5{ style: 'margin-bottom: 20px' } #{pluralize @order.order_items.prod.count, "Item"}
				%div{ style: 'padding: 20px;margin: 1px -20px -20px -20px;background: #fff;' }
					- @order.order_items.prod.each do |order_item|
						= render 'swell_ecom/your_orders/order_item', order_item: order_item, args: {}
