

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: offer_admin_index_path }
						%i.fa.fa-angle-left
						Offers
				%li
					%a{ href: edit_offer_admin_path(@offer_sku.parent_obj) }
						%i.fa.fa-angle-left
						#{@offer_sku.parent_obj.title}
			%h2
				%strong Offer Sku
				%small= current_user.to_local_tz(@offer_sku.created_at).to_fs( :short )

		.col-xs-2


	= form_for @offer_sku, url: offer_sku_admin_path( @offer_sku ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%label Start Interval
						%div=@offer_sku.start_interval
					.form-group
						%label Max Intervals
						%div=@offer_sku.max_intervals.presence || 'None'
					.form-group
						= f.label :sku_id, 'SKU'
						= f.collection_select :sku_id, Bazaar::Sku.active.order(code: :asc), :id, :to_s, {}, class: 'form-control'
					.form-group
						= f.label :quantity, "Quantity"
						= f.number_field :quantity, class: 'form-control', min: 1, step: 1, required: true
					.form-group
						= f.label :shipping_calculation_exemptions, "Shipping Exemptions"
						= f.number_field :shipping_calculation_exemptions, class: 'form-control', min: 0, step: 1, required: true


					.form-group
						= f.submit 'Save', class: 'btn btn-primary'
						%a.btn.btn-default{ href: edit_offer_admin_path(@offer_sku.parent_obj) }
							Cancel
