
.form-group
	= f.text_field :title, class: 'form-control input-lg'
.form-group
	= f.label :subtitle
	= f.text_field :subtitle, class: 'form-control'

.form-group
	= f.label :slug_pref, 'URL for this article:'
	.input-group
		%span.input-group-addon
			= Pulitzer.app_host
		= f.text_field :slug_pref, class: 'form-control', placeholder: @media.slug
		%span.input-group-btn
			%a.btn.btn-default{ 'data-clipboard-text' => @media.url }
				%i.fa.fa-clipboard

	= f.label :redirect_url, 'Redirect to:'
	= f.text_field :redirect_url, class: 'form-control'
