.row
	.col-xs-6
		.well.white-well
			.row
				- if @shipment.code
					.form-group.col-12.col-md-6
						%label Shipment Code
						%div
							=@shipment.code

				- if @shipment.user
					.form-group.col-12.col-md-6
						%label User
						%div
							%a{ href: main_app.edit_user_admin_path( @shipment.user.id ) }
								= @shipment.user.to_s
				- if @shipment.order
					.form-group.col-12.col-md-6
						%label Order
						%div
							%a{ href: bazaar_admin.order_admin_path( @shipment.order.id ) }
								= @shipment.order.code

				- if @shipment.warehouse
					.form-group.col-12.col-md-6
						%label Warehouse
						%div
							%a{ href: bazaar_admin.edit_warehouse_admin_path( @shipment.warehouse.id ) }
								=@shipment.warehouse.name

		.well.white-well
			.row

				.form-group.col-12.col-md-6
					%label Fulfillment Id
					%div
						- if @shipment.fulfillment_id.present? && @shipment.fulfillment_url
							%a{ href: @shipment.fulfillment_url, target: '_fulfillment' }
								= @shipment.fulfillment_id
						- elsif @shipment.fulfillment_id.present?
							= @shipment.fulfillment_id
						- else
							N/A


				.form-group.col-12.col-md-6
					%label Carrier
					%div
						- if @shipment.carrier.present?
							= @shipment.carrier
						- else
							N/A
			.form-group
				%label Tracking
				%div
					- if @shipment.tracking_url.present? && @shipment.tracking_code.present?
						%a{ href: @shipment.tracking_url, target: '_tracking' }
							= @shipment.tracking_code
					- elsif @shipment.tracking_url.present?
						%a{ href: @shipment.tracking_url, target: '_tracking' }
							= @shipment.tracking_url
					- elsif @shipment.tracking_code.present?
						= @shipment.tracking_code
					- else
						N/A
	.col-xs-6
		- if @shipment.source_address
			.well.white-well
				.form-group
					%label Source Address
					%div= raw @shipment.source_address.try(:to_html)
		- elsif @shipment.warehouse && @shipment.warehouse.geo_address
			.well.white-well
				.form-group
					%label Warehouse Address
					%div= raw @shipment.warehouse.geo_address.try(:to_html) || 'N/A'
		.well.white-well
			.form-group
				%label Destination Address
				%div= raw @shipment.destination_user_address.try(:to_html) || 'N/A'
