#process_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Publish Shipment
			= form_for @shipment, url: bazaar_admin.shipment_admin_path( @shipment ) do |f|
				= f.hidden_field :status, value: 'pending'
				.modal-body
					.form-group
						= f.label :processable_at
						= f.text_field :processable_at, value: current_user.to_local_tz( @shipment.processable_at || Time.now ), class: 'form-control datetimepicker'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Publish', class: 'btn btn-primary'
