

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: shipment_admin_index_path }
						%i.fa.fa-angle-left
						shipments
			%h2
				%strong= @shipment.destination_address.to_s
				%small= current_user.to_local_tz(@shipment.created_at).to_s( :short )

		.col-xs-2


	= form_for @shipment, url: bazaar_admin.shipment_admin_path( @shipment ) do |f|
		.row
			.col-xs-8
				= render 'bazaar_admin/shipment_admin/details'
				.well.white-well
					%h4 Skus

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Name
							%th Quantity
							%th &nbsp;
						%tbody
							- if @shipment.shipment_skus.blank?
								%tr
									%td{ colspan: 3 }
										\- No Skus -
							- @shipment.shipment_skus.each do |shipment_sku|
								%tr
									%td=shipment_sku.sku.code
									%td=shipment_sku.quantity
									%td.text-right
										%a{ href: bazaar_admin.shipment_sku_admin_path( shipment_sku.id ), style: 'color: #f00;' , data: { method: :delete, confirm: 'Are you sure?' } }
											%i.fa.fa-trash
											Remove
					%br
					.text-right
						%a.btn.btn-default{ href: '#', data: { target: '#new_shipment_sku_modal', toggle: :modal } }
							Add SKU

				.well.white-well
					%h4 Notes
					- if @shipment.notes.present?
						= @shipment.notes
					- else
						%strong none
			.col-xs-4
				.well.white-well
					%h4
						Shipment Settings

					- if @shipment.draft?
						.form-group
							%label Status
							%div= @shipment.status
					- else
						.form-group
							= f.label :status
							= f.collection_select :status, BazaarCore::Shipment.statuses, :first, :first, {}, class: 'form-control'

						.form-group
							= f.label :processable_at
							= f.text_field :processable_at, value: current_user.to_local_tz( @shipment.processable_at ), class: 'form-control datetimepicker'

					.form-group
						%label Shipping Method
						- if @shipment.rates
							- @shipment.rates.each do |rate|
								%div
									.pull-right
										= number_to_currency rate[:cost].to_f / 100.0
									%label
										= f.radio_button :shipping_carrier_service_id, rate[:id]
										= rate[:carrier_service].name
						- else
							- if @shipment.shipping_carrier_service
								%div
									.pull-right
										= @shipment.cost_formatted
									= @shipment.shipping_carrier_service.name
							- else
								%div none
					%hr

					.form-group
						- if params[:calculate_shipping].blank? && @shipment.draft?
							- if @shipment.shipping_carrier_service.present?
								%a.btn.btn-primary{ href: '#', data: { target: '#process_modal', toggle: :modal } }
									Next: Publish

								- if @shipment.shipment_skus.present?
									%a.btn.btn-default{ href: '#', data: { target: '#calculate_modal', toggle: :modal } } Calculate Shipping
							- elsif @shipment.rates.blank?
								- if @shipment.shipment_skus.present?
									%a.btn.btn-primary{ href: '#', data: { target: '#calculate_modal', toggle: :modal } } Next: Calculate Shipping
								- else
									%button.btn.btn-primary.disabled{ href: '#', disabled: true } Calculate Shipping
									%ul{ style: 'color: red;font-size: 0.8em;padding-left: 2em;' }
										%li add skus to continue
						- else
							= f.submit 'Next: Save Shipping Method', class: 'btn btn-primary'


= render 'bazaar_admin/shipment_sku_admin/new_modal', shipment: @shipment, args: {}
- if @shipment.draft?
	= render 'bazaar_admin/shipment_admin/publish_modal', shipment: @shipment, args: {}
	= render 'bazaar_admin/shipment_admin/calculate_modal', shipment: @shipment, args: {}
