

.container-fluid
	.row
		.col-xs-12
			%ul.breadcrumb
				%li
					%a{ href: cart_admin_index_path }
						%i.fa.fa-angle-left
						Carts


			%h2
				%strong
					Cart##{@cart.id}
				%small=current_user.to_local_tz(@cart.created_at).to_s( :short )

		.col-xs-2

	= form_for @cart, url: cart_admin_path( @cart ) do |f|
		.row
			.col-xs-8
				.well.white-well
					%h4
						Contents
					%table.table.table-light.table-bordered
						%thead
							%tr
								%th Product
								%th{ style: 'width: 80px' } Price
								%th.text-right{ style: 'width: 70px' } Quantity
								%th.text-right{ style: 'width: 100px' } Subtotal
						%tbody
							- @cart.cart_offers.each do |cart_offer|
								%tr
									%td
										= cart_offer.offer.title
									%td
										= number_to_currency (cart_offer.price.to_f / 100)
									%td.text-right
										= cart_offer.quantity
									%td.text-right= number_to_currency cart_offer.subtotal.to_f / 100

							%tr
								%td
								%td
								%td
									Subtotal
								%td.text-right
									%strong
										= number_to_currency @cart.subtotal.to_f / 100

							%tr
								%td
								%td
								%td
									Estimated Tax
								%td.text-right
									%strong
										= number_to_currency @cart.estimated_tax.to_f / 100
							%tr
								%td
								%td
								%td
									Estimated Shipping
								%td.text-right
									%strong
										= number_to_currency @cart.estimated_shipping.to_f / 100
							%tr
								%td
								%td
								%td
									%h5{ style: 'font-weight:bold;' }
										Estimated Total
								%td.text-right
									%h5{ style: 'font-weight:bold;' }
										= number_to_currency @cart.estimated_total.to_f / 100



				.well.white-well
					%h4
						Order
					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th{ style: 'width: 10em' }
								Code
							%th{ style: 'width: 10em' }
								Created
							%th
								Customer
							%th
								Items
							%th
								Status
							%th{ style: 'width: 10em' }
								Total
						%tbody
							- if @cart.order.present?
								= render 'bazaar_admin/order_admin/table_row', order: @cart.order, args: { controls: false }
							- else
								%tr
									%td{ colspan: 5 } No Order


			.col-xs-4
				.well.white-well

					.form-group
						%strong IP:
						#{@cart.ip || 'N/A'}
					.form-group
						= f.label :status
						= f.collection_select :status, BazaarCore::Cart.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
