




.container-fluid
	.row
		.col-xs-10
			%h2 Carts
	.row{ style: 'margin-top: 0' }
		.col-xs-5
			= raw paginate @carts
			-# = "(#{pluralize @carts.total_count, 'Cart'})"
		.col-xs-7
			= form_tag cart_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( BazaarCore::Cart.statuses, :first, :first, params[:status] ), { prompt: "Cart Status", class: 'form-control' }
				= submit_tag 'Search', class: 'btn btn-primary'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
						ID
					%th
						Sub Total
						%a{ href: cart_admin_index_path( sort_by: 'subtotal', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: cart_admin_index_path( sort_by: 'subtotal', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					%th
						Created
						%a{ href: cart_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: cart_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Items
					%th
						IP
					%th Status
					%th
				%tbody
					- if @carts.blank?
						%tr
							%td{ colspan: 7 }
								\- No Carts Found -
					- @carts.each do |cart|
						%tr
							%td
								= link_to cart.id, edit_cart_admin_path( cart.id )

							%td
								= number_to_currency cart.subtotal / 100.to_f

							%td
								= link_to cart.created_at.to_s( :short ), edit_cart_admin_path( cart.id )
							%td
								= cart.cart_offers.count
							%td
								= cart.ip
							%td
								.badge{ class: cart.status }
									= cart.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_cart_admin_path( cart.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: cart_admin_path( cart ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!
