.container-fluid
	.row
		.col-xs-12
			%h1 New Order

	-# = form_for @order, url: bazaar.order_admin_index_path(), as: :order, html: { class: 'form' } do |f|
	= form_for @order, url: bazaar.admin_checkout_index_path(), as: :order, html: { class: 'form' } do |f|
		= f.hidden_field :type
		= f.hidden_field :user_id
		.row
			.col-xs-12
				.form-group
					%label Order Email
					= f.text_field :email, class: 'form-control'
					.help-block.with-errors

		.row
			- if @order.respond_to?( :billing_address )
				.col-xs-12.col-md-6
					.well.white-well
						%h4 Billing Address
						- if @billing_geo_addresses.present?
							- @billing_geo_addresses.each do |geo_address|
								%div
									%label
										= f.radio_button :billing_address_id, geo_address.id, data: { 'address-toggle': { value: true, target: '.billing_address_fields' } }
										= geo_address
										- if geo_address.id == @order.user.try(:preferred_billing_address_id)
											(preferred)
							%div
								%label
									= f.radio_button :billing_address_id, nil, data: { 'address-toggle': { value: true, target: '.billing_address_fields' } }
									New Address
						.billing_address_fields.geo_address_fields{ class: ( @order.billing_address_id.present? ? 'hide' : '' ) }
							= f.fields_for :billing_address, GeoAddress.new( user: @order.user ) do |billing_address_form|
								= billing_address_form.hidden_field :user_id
								= render 'bazaar/checkout/geo_address', f: billing_address_form, address_attribute: :billing_address, countries: get_billing_countries, states: get_billing_states(  @order.billing_address.try(:geo_country_id)  ), args: {}

			- if @order.respond_to?( :shipping_address )
				.col-xs-12.col-md-6
					.well.white-well
						%h4 Shipping Address
						- if @shipping_geo_addresses.present?
							- @shipping_geo_addresses.each do |geo_address|
								%div
									%label
										= f.radio_button :shipping_address_id, geo_address.id, data: { 'address-toggle': { target: '.shipping_address_fields' } }
										= geo_address
										- if geo_address.id == @order.user.try(:preferred_shipping_address_id)
											(preferred)
							%div
								%label
									= f.radio_button :shipping_address_id, nil, data: { 'address-toggle': { target: '.shipping_address_fields' } }
									New Address
						.shipping_address_fields.geo_address_fields{ class: ( @order.shipping_address_id.present? ? 'hide' : '' ) }
							= f.fields_for :shipping_address, GeoAddress.new( user: @order.user ) do |shipping_address_form|
								= shipping_address_form.hidden_field :user_id
								= render 'bazaar/checkout/geo_address', f: shipping_address_form, address_attribute: :shipping_address, countries: get_shipping_countries, states: get_shipping_states(  @order.shipping_address.try(:geo_country_id)  ), args: {}

		.row
			.col-xs-12.text-right
				= f.submit "Continue", class: 'btn btn-primary'
