#new_offer_price_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Sku to #{parent_obj.title}
			= form_for Bazaar::OfferPrice.new( parent_obj: parent_obj, price_as_money: args[:price_as_money] ), url: bazaar.offer_price_admin_index_path do |f|
				- if args[:replace_mode]
					= hidden_field_tag :replace, args[:replace_mode]
				= f.hidden_field :parent_obj_type
				= f.hidden_field :parent_obj_id
				= f.hidden_field :status, value: 'active'
				- if args[:start_interval]
					= f.hidden_field :start_interval, value: args[:start_interval]
				- if args[:max_intervals]
					= f.hidden_field :max_intervals, value: args[:max_intervals]
				.modal-body
					.row
						- unless args[:start_interval]
							.col-xs-12.col-md-6
								.form-group
									= f.label :start_interval
									= f.number_field :start_interval, class: 'form-control', min: 1, step: 1
						- unless args[:max_intervals]
							.col-xs-12.col-md-6
								.form-group
									= f.label :max_intervals
									= f.number_field :max_intervals, value: nil, class: 'form-control', min: 1, step: 1, placeholder: 'unlimited'
				.modal-body
					.form-group
						= f.label :price_as_money_string, 'Price'
						= f.number_field :price_as_money_string, class: 'form-control', min: 0.00, step: 0.01
					-# .form-group
						= f.label :status
						= f.collection_select :status, Bazaar::OfferPrice.statuses, :first, humanize_first, {}, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Add', class: 'btn btn-primary'
