
%h1.text-center
	Thanks for your order!
.text-center
	Order Number: #{@order.code}

%br

%table.table
	%thead
		%tr
			%th{ style: 'text-align: left;' } Product
			%th{ style: 'width: 100px' } Price
			%th{ style: 'width: 100px;text-align: right;' } Quantity
	%tbody
		- @order.order_items.each do |order_item|
			- if order_item.item?
				%tr
					-# %td avatar
					%td{ style: 'padding: 8px' }
						=order_item.label
					%td{ style: 'padding: 8px' }= number_to_currency order_item.subtotal.to_f / 100
					%td{ style: 'padding: 8px;text-align: right;' }
						=order_item.quantity
%br
- @order.order_items.each do |order_item|
	- unless order_item.item?
		.text-right
			#{order_item.label}: #{number_to_currency order_item.subtotal.to_f / 100}
%h3


	Total:
	= number_to_currency @order.total.to_f / 100
