
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: wholesale_profile_admin_index_path }
						%i.fa.fa-angle-left
						Wholesale Profiles
			%h2
				%strong= @wholesale_profile.title
				%small= current_user.to_local_tz(@wholesale_profile.created_at).to_fs( :short )

	= form_for @wholesale_profile, url: wholesale_profile_admin_path( @wholesale_profile ) do |f|
		.row
			.col-xs-8
				.well.white-well
					.form-group
						%h4 Content
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control input-lg'

					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 80, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @wholesale_profile.class.base_class.name, object_id: @wholesale_profile.id }.to_json }

				.well.white-well
					%a.pull-right{ href: '#new_wholesale_item_modal', data: { toggle: :modal, target: '#new_wholesale_item_modal' } }
						%i.fa.fa-plus
						Add
					%h4
						Items

					%table.table.table-light.table-bordered
						%thead
							%th
								Item
							%th{ style: 'width: 5em' }
								Min Qty
							%th{ style: 'width: 5em' }
								Price
							%th{ style: 'width: 5em' }
								&nbsp;
						%tbody
							- if @wholesale_profile.wholesale_items.blank?
								%tr
									%td{ colspan: 3 }
										\- No Wholesale Items Found -
							= f.fields_for :wholesale_items, @wholesale_profile.wholesale_items.joins(:offer).order( item_type: :asc, item_id: :asc ).order(Arel.sql('bazaar_offers.min_quantity asc')) do |item_form|
								%tr
									%td
										.form-group
											%a{ href: bazaar.edit_offer_admin_path( item_form.object.offer.id ) }
												= item_form.object.offer.title
											%div
												SKUs:
												= item_form.object.offer.offer_skus.active.collect(&:sku).collect(&:code).join(',')
									%td
										= item_form.object.offer.min_quantity
									%td
										= item_form.object.offer.initial_price_formatted
									%td
										.form-group
											%a{ href: wholesale_item_admin_path( item_form.object ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o

			.col-xs-4
				.well.white-well

					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::WholesaleProfile.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

= render 'bazaar/wholesale_item_admin/new_modal', args: {}
