

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: warehouse_admin_index_path }
						%i.fa.fa-angle-left
						Warehouses
			%h2
				%strong= @warehouse.name
				%small= current_user.to_local_tz(@warehouse.created_at).to_s( :short )

		.col-xs-2


	= form_for @warehouse, url: bazaar.warehouse_admin_path( @warehouse ) do |f|
		.row
			.col-xs-8
				.well.white-well
					%h4 Shipments

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Created At
							%th Items
							%th Destination
							%th &nbsp;
						%tbody
							- if @shipments.blank?
								%tr
									%td{ colspan: 4 }
										\- No Shipments -
							- @shipments.each do |shipment|
								%tr
									%td=current_user.to_local_tz(shipment.created_at).to_s( :short )
									%td=shipment.shipment_skus.includes(:sku).collect{|shipment_sku| "#{shipment_sku.sku.code}x#{shipment_sku.quantity}" }.join(',')
									%td=raw shipment.destination_user_address.to_html
									%td
										%a{ href: bazaar.edit_shipment_admin_path( shipment.id ) } Edit
					= raw paginate @shipments

				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_warehouse_sku_modal' } }
							%i.fa.fa-plus-square
							Add Sku
					%h4 Skus

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th Sku
							%th Warehouse Code
							%th Quantity
							%th Status
							%th &nbsp;
						%tbody
							- if @warehouse_skus.blank?
								%tr
									%td{ colspan: 5 }
										\- No Skus -
							- @warehouse_skus.each do |warehouse_sku|
								%tr
									%td
										= link_to warehouse_sku.sku.to_s, edit_sku_admin_path(warehouse_sku.sku)
									%td=warehouse_sku.warehouse_code
									%td=warehouse_sku.quantity
									%td=warehouse_sku.status
									%td.text-right
										%a.btn.btn-default{ href: bazaar.edit_warehouse_sku_admin_path( warehouse_sku ) }
											%i.fa.fa-edit
										%a.btn.btn-danger{ href: bazaar.warehouse_sku_admin_path( warehouse_sku ), data: { method: :delete, confirm: 'Are you sure?' } }
											%i.fa.fa-trash
				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_warehouse_country_modal' } }
							%i.fa.fa-plus-square
							Add Country
					%h4 Country Restrictions
					.form-group
						= f.collection_select :country_restriction_type, Bazaar::Warehouse.country_restriction_types, :first, Proc.new{|item| item.first.to_s.split('_').last }, {}, class: 'form-control'

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th
								Country
							%th &nbsp;
						%tbody
							- if @warehouse_countries.blank?
								%tr
									%td{ colspan: 2 }
										\- No Countries -
							- @warehouse_countries.each do |warehouse_country|
								%tr
									%td=warehouse_country.geo_country.name
									%td.text-right
										%a.btn.btn-danger{ href: bazaar.warehouse_country_admin_path( warehouse_country ), data: { method: :delete, confirm: 'Are you sure?' } }
											%i.fa.fa-trash

				.well.white-well
					.pull-right
						%a{ href: '#', data: { toggle: :modal, target: '#new_warehouse_state_modal' } }
							%i.fa.fa-plus-square
							Add State
					%h4 State Restrictions
					.form-group
						= f.collection_select :state_restriction_type, Bazaar::Warehouse.state_restriction_types, :first, Proc.new{|item| item.first.to_s.split('_').last }, {}, class: 'form-control'

					%table.table.table-light.table-bordered{ style: 'margin:0;' }
						%thead
							%th
								State
							%th &nbsp;
						%tbody
							- if @warehouse_states.blank?
								%tr
									%td{ colspan: 2 }
										\- No States -
							- @warehouse_states.each do |warehouse_state|
								%tr
									%td
										=warehouse_state.geo_state.name
										(#{warehouse_state.geo_state.geo_country.name})
									%td.text-right
										%a.btn.btn-danger{ href: bazaar.warehouse_state_admin_path( warehouse_state ), data: { method: :delete, confirm: 'Are you sure?' } }
											%i.fa.fa-trash


			.col-xs-4
				.well.white-well
					%h4
						Warehouse Settings

					.form-group
						= f.label :name
						= f.text_field :name, class: 'form-control'

					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Warehouse.statuses, :first, :first, {}, class: 'form-control'

					%hr

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

= render "bazaar/warehouse_country_admin/new_modal"
= render "bazaar/warehouse_state_admin/new_modal"
= render "bazaar/warehouse_sku_admin/new_modal"
