


.container-fluid
	.row
		.col-xs-10
			%h2 Warehouses
		.col-xs-2
			- if authorized?(Bazaar::Warehouse, controller: Bazaar::WarehouseAdminController, action: :create )
				%a.btn.btn-success{ data: { toggle: :modal, target: '#new_warehouse_modal' } }
					%i.fa.fa-plus-square
					New
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @warehouses
		.col-xs-6


	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
						Name
					%th
						Address
					%th
						Created
					%th
						Status
					%th{ style: 'width: 6em' }
				%tbody
					- if @warehouses.blank?
						%tr
							%td{ colspan: 6 }
								\- No Warehouses Found -
					- @warehouses.each do |warehouse|
						%tr
							%td
								= link_to warehouse.name, edit_warehouse_admin_path( warehouse.id )

							%td
								- if warehouse.geo_address
									= warehouse.geo_address.to_html

							%td
								= current_user.to_local_tz(warehouse.created_at).to_s( :short )
							%td
								.badge{ class: warehouse.status }
									= warehouse.status
							%td
								- if authorized?(warehouse, controller: Bazaar::WarehouseAdminController, action: :edit ) || authorized?(warehouse, controller: Bazaar::WarehouseAdminController, action: :destroy )
									.btn-group
										%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
											%i.fa.fa-cog
											%b.caret
										%ul.dropdown-menu
											- if authorized?(warehouse, controller: Bazaar::WarehouseAdminController, action: :edit )
												%li
													%a{ href: edit_warehouse_admin_path( warehouse.id ) }
														%i.fa.fa-pencil
														Edit
												%li.divider
											- if authorized?(warehouse, controller: Bazaar::WarehouseAdminController, action: :destroy )
												%li
													%a{ href: warehouse_admin_path( warehouse ), data: { method: 'delete', confirm: 'Are you sure?' } }
														%i.fa.fa-trash-o
														Delete!


= render "new_modal"
