.modal.fade#batch_shipment_update_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Batch Update #{pluralize @shipments.count, 'Shipment'}
			= form_for BazaarCore::Shipment.new, url: batch_update_shipment_admin_index_path(), method: :put, html: {} do |f|
				= hidden_field_tag :batch_id, @batch_id
				.modal-body

					.form-group
						= f.label :status
						= f.collection_select :status, BazaarCore::Shipment.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.label :processable_at
						= f.text_field :processable_at, value: current_user.to_local_tz( Time.now ), class: 'form-control datetimepicker'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= submit_tag 'Batch Update', class: 'btn btn-primary'
