.row
	.col-xs-6
		.well.white-well
			.row
				- if @shipment.code
					.form-group.col-12.col-md-6
						%label Shipment Code
						%div
							=@shipment.code

				- if @shipment.warehouse
					.form-group.col-12.col-md-6
						%label Warehouse
						%div
							%a{ href: bazaar.edit_warehouse_admin_path( @shipment.warehouse.id ) }
								=@shipment.warehouse.name

				.form-group.col-12.col-md-6
					%label Carrier
					%div
						- if @shipment.carrier.present?
							= @shipment.carrier
						- else
							N/A
				- if @shipment.source_address
					.form-group.col-12.col-md-6
						= raw @shipment.source_address.try(:to_html)
				- if @shipment.user
					.form-group.col-12.col-md-6
						%label User
						%div
							%a{ href: main_app.edit_user_admin_path( @shipment.user.id ) }
								= @shipment.user.to_s
				- if @shipment.order
					.form-group.col-12.col-md-6
						%label Order
						%div
							%a{ href: bazaar.order_admin_path( @shipment.order.id ) }
								= @shipment.order.code
			.form-group
				%label Tracking URL
				%div
					- if @shipment.tracking_url
						%a{ href: @shipment.tracking_url, _target: 'tracking' }
							= @shipment.tracking_code || '-'
					- else
						= @shipment.tracking_code || '-'
	.col-xs-6
		- if @shipment.source_address
			.well.white-well
				.form-group
					%label Source Address
					%div= raw @shipment.source_address.try(:to_html)
		- elsif @shipment.warehouse && @shipment.warehouse.geo_address
			.well.white-well
				.form-group
					%label Warehouse Address
					%div= raw @shipment.warehouse.geo_address.try(:to_html) || 'N/A'
		.well.white-well
			.form-group
				%label Destination Address
				%div= raw @shipment.destination_address.try(:to_html) || 'N/A'
