#status_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Shipment Status
			= form_for @shipment, url: bazaar.shipment_admin_path( @shipment ) do |f|
				.modal-body
					.form-group
						= f.label :status
						= f.collection_select :status, Bazaar::Shipment.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.label :email
						= f.text_field :email, class: 'form-control'

					.form-group
						= f.label :estimated_delivered_at
						= f.text_field :estimated_delivered_at, value: current_user.to_local_tz( @shipment.estimated_delivered_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :canceled_at
						= f.text_field :canceled_at, value: current_user.to_local_tz( @shipment.canceled_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :packed_at
						= f.text_field :packed_at, value: current_user.to_local_tz( @shipment.packed_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :shipped_at
						= f.text_field :shipped_at, value: current_user.to_local_tz( @shipment.shipped_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :delivered_at
						= f.text_field :delivered_at, value: current_user.to_local_tz( @shipment.delivered_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :returned_at
						= f.text_field :returned_at, value: current_user.to_local_tz( @shipment.returned_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :processable_at
						= f.text_field :processable_at, value: current_user.to_local_tz( @shipment.processable_at ), class: 'form-control datetimepicker'

					.form-group
						= f.label :cost_as_money, 'Cost'
						= f.number_field :cost_as_money, class: 'form-control', min: '0.00', step: 0.01

					.form-group
						= f.label :price_as_money, 'Price'
						= f.number_field :price_as_money, class: 'form-control', min: '0.00', step: 0.01

					.form-group
						= f.label :tax_as_money, 'Tax'
						= f.number_field :tax_as_money, class: 'form-control', min: '0.00', step: 0.01

					.form-group
						= f.label :declared_value_as_money, 'Declared Value'
						= f.number_field :declared_value_as_money, class: 'form-control', min: '0.00', step: 0.01

					.form-group
						= f.label :carrier
						= f.text_field :carrier, class: 'form-control'

					.form-group
						= f.label :carrier_service_level
						= f.text_field :carrier_service_level, class: 'form-control'

					.form-group
						= f.label :requested_service_level
						= f.text_field :requested_service_level, class: 'form-control'

					.form-group
						= f.label :notes
						= f.text_area :notes, class: 'form-control'


				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
