

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: shipment_admin_index_path }
						%i.fa.fa-angle-left
						shipments
			%h2
				- if @shipment.code
					%strong= @shipment.code
					%small= current_user.to_local_tz(@shipment.created_at).to_s( :short )
				- else
					%strong
						\##{@shipment.id}
					%small= current_user.to_local_tz(@shipment.created_at).to_s( :short )

		.col-xs-2

	.row
		.col-xs-8
			= render 'bazaar/shipment_admin/details'
			.well.white-well
				%h4 Skus

				%table.table.table-light.table-bordered{ style: 'margin:0;' }
					%thead
						%th Name
						%th Quantity
					%tbody
						- if @shipment.shipment_skus.blank?
							%tr
								%td{ colspan: 2 }
									\- No Skus -
						- @shipment.shipment_skus.each do |shipment_sku|
							%tr
								%td=shipment_sku.sku.code
								%td=shipment_sku.quantity
			= render 'bazaar/shipment_admin/logs_table'
			.well.white-well
				%h4 Notes
				- if @shipment.notes.present?
					= @shipment.notes
				- else
					%strong none



		.col-xs-4
			.well.white-well
				%h4
					Shipment Settings
				.form-group
					%label Status
					%div= @shipment.status


				.form-group
					%label Shipping Method
					- if @shipment.shipping_carrier_service
						%div
							.pull-right
								= @shipment.cost_formatted
							= @shipment.shipping_carrier_service.name
					- else
						%div none

				%hr

				.form-group.text-right
					- if @shipment.rejected?
						%a.btn.btn-primary{ href: bazaar.shipment_admin_path( @shipment.id, shipment: { status: 'pending' } ), data: { method: 'PUT' } }
							Approve
					- elsif @shipment.canceled?
						-# %a.btn.btn-primary{ href: bazaar.shipment_admin_path( @shipment.id, shipment: { status: 'draft' } ), data: { method: 'PUT' } }
							Activate
					- elsif @shipment.pending?
						%a.btn.btn-primary{ href: bazaar.shipment_admin_path( @shipment.id, shipment: { status: 'canceled' } ), data: { method: 'PUT' } }
							Cancel
						%a.btn.btn-primary{ href: bazaar.shipment_admin_path( @shipment.id, shipment: { status: 'rejected' } ), data: { method: 'PUT' } }
							Reject

				%div.text-right
					%a{ href: '#', data: { toggle: :modal, target: '#status_modal' } } manual updates

					-# %hr

					-# .form-group
						= f.submit 'Update', class: 'btn btn-primary'

= render 'bazaar/shipment_admin/publish_modal', shipment: @shipment, args: {}
= render 'bazaar/shipment_admin/status_modal', shipment: @shipment, args: {}
