.container-fluid
	.row
		.col-xs-12
			%h1
				Shipment Destination
	= form_for @shipment, url: bazaar.shipment_admin_path(@shipment), as: :shipment, html: { class: 'form' } do |f|
		= hidden_field_tag :success_redirect_path, bazaar.edit_items_shipment_admin_path(@shipment.id)
		.row
			.col-xs-12.col-md-8
				.row
					- if @shipment.user.present?
						- @shipment.user.geo_addresses.de_dup.each_with_index do |geo_address,index|
							.col-xs-12.col-sm-4
								%label
									.pull-left
										= f.radio_button :destination_address_id, geo_address.id, checked: (index == 0)
									%div{ style: 'margin: 0 0 1em 1.5em;' }
										= raw geo_address.to_html
				= f.submit "Next", class: 'btn btn-primary'
