.container-fluid
	.row
		.col-xs-12
			%h1
				Shipment Dimensions
	= form_for @shipment, url: bazaar.shipment_admin_path(@shipment), as: :shipment, html: { class: 'form' } do |f|
		= hidden_field_tag :success_redirect_path, bazaar.edit_service_shipment_admin_path(@shipment.id)
		.row
			.col-xs-12.col-md-8
				.form-group
					- @shipment.shipment_skus.each do |shipment_sku|
						%div
							= shipment_sku.sku.to_s
							x
							= shipment_sku.quantity
				.row
					.col-xs-4
						.form-group
							= f.label :length
							= f.number_field :length, min: 0, step: 0.01, class: 'form-control'
					.col-xs-4
						.form-group
							= f.label :width
							= f.number_field :width, min: 0, step: 0.01, class: 'form-control'
					.col-xs-4
						.form-group
							= f.label :height
							= f.number_field :height, min: 0, step: 0.01, class: 'form-control'
					.col-xs-4
						.form-group
							= f.label :weight
							= f.number_field :weight, min: 0, step: 0.01, class: 'form-control'
					.col-xs-4
						.form-group
							= f.label :shape
							= f.collection_select :shape, Bazaar::Shipment.shapes, :first, :first, {}, class: 'form-control'
					.col-xs-4
						.form-group
							= f.label :declared_value_as_money, 'Declared Value'
							= f.number_field :declared_value_as_money, min: 0, step: 0.01, class: 'form-control'
					.col-xs-12
						.form-group
							= f.label :notes
							= f.text_area :notes, class: 'form-control', rows: 5

				= f.submit "Next", class: 'btn btn-primary'
