.container-fluid
	.row
		.col-xs-12
			%h1
				Shipment Service
	= form_for @shipment, url: bazaar.shipment_admin_path(@shipment), as: :shipment, html: { class: 'form' } do |f|
		.row
			.col-xs-12.col-md-8
				- @shipping_service.calculate( @shipment, {} )
				- @shipment.rates.each_with_index do |rate,index|
					.row
						.col-xs-6
							%label
								= radio_button_tag :shipping_rate, rate.to_json, index == 0, id: 'shipping_rate'
								= rate[:label]
						.col-xs-6
							= number_to_currency rate[:cost] / 100.0
				= f.submit "Next", class: 'btn btn-primary'
