.container-fluid
	.row
		.col-xs-12
			%h1
				Shipment Items
	= form_for @shipment, url: bazaar.shipment_admin_path(@shipment), as: :shipment, html: { class: 'form' } do |f|
		= hidden_field_tag :success_redirect_path, bazaar.edit_shape_shipment_admin_path(@shipment.id)
		.row
			.col-xs-6.col-md-8
				.form-group SKU
			.col-xs-6.col-md-4
				.form-group Quantity
		- @shipment.shipment_skus.each do |shipping_sku|
			.row
				- unless shipping_sku.persisted?
					= f.fields_for :shipment_skus, shipping_sku do |shipment_item_form|
						= shipment_item_form.hidden_field :sku_id
						= shipment_item_form.hidden_field :quantity
				.col-xs-6.col-md-8
					.form-group
						= shipping_sku.sku.to_s
				.col-xs-6.col-md-4
					.form-group
						= shipping_sku.quantity

		.row
			.col-xs-6.col-md-8
				.form-group
					= select_tag :sku_id, options_from_collection_for_select( Bazaar::Sku.active.where( id: @shipment.warehouse.warehouse_skus.select(:sku_id) ).order( code: :asc ), :id, :to_s, nil ), { class: 'form-control' }
			.col-xs-6.col-md-4
				.form-group
					= number_field_tag :quantity, 1, min: 1, step: 1, class: 'form-control'
		%button.btn.btn-default{ type: :submit, formaction: bazaar.edit_items_shipment_admin_path(@shipment ), formmethod: :get } Add Item
		%button.btn.btn-primary{ type: :submit } Next
