


.container-fluid
	.row
		.col-xs-9
			%h2
				Shipments
				- if @batch_id.present?
					%small BATCH ID: #{@batch_id}

		.col-xs-3.text-right
			- if authorized?(Bazaar::Shipment, controller: Bazaar::ShipmentAdminController, action: :create )
				- if (params[:features] || '').include?( 'new_modal' )
					%a.btn.btn-success{ href: bazaar.new_shipment_admin_path() }
						%i.fa.fa-plus-square
						New
				- if (params[:features] || '').include?( 'batch_modal' )
					%a.btn.btn-default{ href: '#', data: { toggle: :modal, target: '#batch_shipment_modal' } }
						%i.fa.fa-plus-square
						Batch
					- if @batch_id.present?
						%a.btn.btn-default{ href: '#', data: { toggle: :modal, target: '#batch_shipment_update_modal' } }
							%i.fa.fa-plus-square
							Update

	.row{ style: 'margin-top: 0' }
		.col-xs-6
			- if @shipments.respond_to? :total_count
				= raw paginate @shipments
				= "(#{pluralize @shipments.total_count, 'Shipment'})"
			- else
				= "(#{pluralize @shipments.count, 'Shipment'})"
		.col-xs-6
			-# = form_tag shipment_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( Bazaar::Shipment.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', shipment_admin_index_path, class: 'btn btn-default'
			= form_tag shipment_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= hidden_field_tag :search_mode, params[:search_mode]
				= select_tag :status, options_from_collection_for_select( Bazaar::Shipment.statuses, :first, :first, params[:status] ), { prompt: "Status", class: 'form-control' }
				- if @source_systems.count > 1
					= select_tag :source_system, options_for_select(@source_systems.collect{|source_system| [(source_system || 'Internal'), (source_system || '-')] }, params[:source_system]), { prompt: "Source", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', shipment_admin_index_path, class: 'btn btn-default'

	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th{ style: 'width: 9em' }
						Code
					%th{ style: 'width: 9em' }
						Source Identifier
					%th{ style: 'width: 10em' }
						Created
					%th{ style: 'width: 14em' }
						Name
					%th
						Address
					%th{ style: 'width: 10em' } Status
					%th{ style: 'width: 10em' } Items
					%th{ style: 'width: 6em' }
				%tbody
					- if @shipments.blank?
						%tr
							%td{ colspan: 7 } - No Shipments Found -
					- @shipments.each do |shipment|
						%tr
							%td
								%a{ href: bazaar.edit_shipment_admin_path( shipment.id ) }
									= shipment.code
							%td
								- if shipment.source_identifier.present?
									= shipment.source_identifier
								- elsif shipment.order.present?
									%a{ href: bazaar.order_admin_path( shipment.order.id ) }= shipment.order.code
								- if shipment.source_system.present?
									%br
									%small{ style: 'font-weight: bold;' }= shipment.source_system
							%td
								= shipment.created_at.to_fs( :short )
							%td
								%a{ href: bazaar.edit_shipment_admin_path( shipment.id ) }
									- if shipment.destination_user_address
										= shipment.destination_user_address.full_name
									- else
										N/A
							%td
								%a{ href: bazaar.edit_shipment_admin_path( shipment.id ) }
									- if shipment.destination_user_address
										-# = shipment.destination_user_address.street
										-# = shipment.destination_user_address.street2
										#{shipment.destination_user_address.city},
										#{shipment.destination_user_address.state_abbrev}
										#{shipment.destination_user_address.country_name}
									- else
										N/A
							%td
								.badge{ class: shipment.status }
									= shipment.status
							%td
								- shipment.shipment_skus.each do |shipment_sku|
									= shipment_sku.sku.code
									x
									= shipment_sku.quantity
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: bazaar.edit_shipment_admin_path( shipment.id ) }
												%i.fa.fa-pencil
												Edit
										-# %li.divider
										-# %li
											%a{ href: shipment_admin_path( shipment ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!

= render 'batch_modal'
- if @batch_id.present?
	= render 'batch_update_modal', args: { batch_id: @batch_id }
